button, input, select {
	font-family: inherit;
    font-size: 100%;
}
input, select {
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}
input[type="text"], input[type="number"]{
    width: 150px;
    padding: 5px;
    margin: 5px, 5px, 5px, 5px;
    border-radius: 5px;
}

input[type="checkbox"]{
    width: 30px;
}
label {
	display: inline;
}
div{
    display: inline;
}
fieldset {
    border-width: 0;
    padding: 0;
    display: block;
}
select{
    display: inline;
    width: 150px;
    padding: 5px;
    margin: 5px, 5px, 5px, 5px;
    border-radius: 5px;
}