@font-face { font-family: Yummy; src: url('Montserrat-Light.ttf'); }
body{
    margin: 0;
    padding: 0;
    background: url(apricot.jpeg);
    background-size: cover;
    background-position: center;
    font-family: Yummy;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #c6b8a7;
    color: #511e03;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -170px;
    position: relative;
    transform: translate(-50%,-50%)
    box-sizing: border-box;
    box-shadow: 5px 5px 6px 0px #666462;
    border-radius: 15px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50%, -50px);
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p{
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #511e03;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="button"]{
  border: none;
  outline:none;
  background: #ba7e46;
  color: #511e03;
  font-size: 18px;
  border-radius: 20px;
  width:95%;
  margin-left: 2.5%;
}

.loginbox input[type="button"]:hover{
  cursor: pointer;
  background: #511e03;
  color: #ffc107;
}

.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height:20px;
  color: #511e03;
  margin-left: 10px;
}

.loginbox a:hover{
  color: #ffc107;
}
