@font-face { font-family: Delicious; src: url('Modeka.otf'); }
@font-face { font-family: Yummy; src: url('Montserrat-Light.ttf'); }

input[type="text"], input[type="number"]{
    width: 150px;
    padding: 5px;
    margin: 5px, 5px, 5px, 5px;
    border-radius: 5px;
}
#real-qualifications{
    width:600px;
}

#localDescription, #fairDescription, #ecologicalDescription, #humaneDescription, #disqualifierDescription{
    width: 400px;
}

#category{
    width: 165px;
}

.col1{
    flex-direction: column;
    width: 100%;
}

.col2{
    display: flex;
    flex-direction: column;
}

.row1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#categoryCheck{
    margin-left: 30px;
}

#data-entry-form{
    font-family: Yummy;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: large;
    padding-top: 15px;
    padding-bottom: 15px
}

#missionStatement{
    font-family: Delicious;
    font-size: 28px;
    text-align: center;
    width: 390px;
    margin:10px;
}

#missionBackground{
    margin: auto;
    margin-left: 2%;
    margin-top: 2%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#disclaimer{
    font-family: Delicious;
    font-size: 11px;
    text-align: center;
    width: 400px;
}

div{
    display: inline-block;
}

#navBar{
    display: flex;
    flex-direction: row;
    background-color: white;
}

.cur_page{
    color:white;
}

.home{
    background-image: url("apricot.jpeg");
    background-size:100%;
}

.data_entry{
    background-size:100%;
    background-color: #FAFDFD;

}

#urlLink{
    text-decoration:none;
    background-color: #FAFDFD;
    color: black;
    text-decoration: underline;
    padding: 0px 128px 0px 0px;
}

h1{
    color:white;
    width:98%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 2%;
    background-color: #ba7e46;
    font-family: Delicious;
    display: inline-block;
    margin:0;
    opacity:1;
}

body{
    background-size:100%;
    background-color: #FAFDFD;
    font-family: Yummy;
}

img{
    opacity: .1;
}

a{
  /*Navigation bar tabs*/
    text-decoration:none;
    background-color: #ba7e46;
    font-family:Yummy;
    font-size: large;
    font-weight: bold;
    color: white;
    width:25%;
    padding-top:10px;
    padding-bottom:5px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    opacity:1;
    border-top:1px solid white;
    border-right:1px solid white;
}

a:hover{
    color:white;
    background-color:#511e03;
}

a:active{
    color:white;
    background-color: #511e03;
}

.entry{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
}

.button{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  text-decoration: none;
  white-space: nowrap;
}

#rating_version{
width: 100px;
}

#year{
width:100px;
}

#month{
width:100px;
}

#padBelow{
    margin-bottom: 10px;
}

button#EScancel{
   border-radius:4px;
   cursor:pointer;
}

button#EScancel:hover{
    background-color: #F1A19B;
    color:#ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

input#ESsubmit{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  border: 1px solid #bbb;
  overflow: visible;
  text-decoration: none;
  white-space: nowrap;
    border-radius:4px;
    cursor:pointer;
}

input#ESsubmit:hover {
    background-color: #8CD3BA;
    color:#ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

button#ESenter{
    border-radius:4px;
    cursor:pointer;
    margin-bottom: 10px;
}

button#ESenter:hover{
    background-color: #A3C1E5;
    color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.searchSubmit{
    padding: 6px 15px;
}

/* TABLES */
table {
  width: 100%;
  margin-top:15px;
  border-collapse: collapse;
}

/* Month, Year, Add Button */
thead th:nth-child(1){
  width: 4%;
}

thead th:nth-child(2){
  width: 4%;
}

thead th:nth-child(3){
  width: 4%;
}

/* Description */
thead th:nth-child(4){
width: 12%
}

/* Category, Vendor, Label/Brand, Product Code */
thead th:nth-child(5){
  width: 8%;
}

thead th:nth-child(6){
width: 8%
}

thead th:nth-child(7){
width: 8%
}

thead th:nth-child(8){
width: 8%
}

/* Real Qualifications */
thead th:nth-child(9){
    width: 3%;
}

thead th:nth-child(11){
    width: 3%;
}

thead th:nth-child(13){
    width: 3%;
}

thead th:nth-child(15){
    width: 3%;
}

thead th:nth-child(17){
    width: 3%;
}

/* Notes */
thead th:nth-child(19){
    width: 12%;
}

/*Descriptions*/
thead th:nth-child(10), th:nth-child(12), th:nth-child(14),th:nth-child(16),th:nth-child(18){
   width: 5%;
}

td:nth-child(10), td:nth-child(12), td:nth-child(14),td:nth-child(16),td:nth-child(18){
font-size: 10px;
}

th{
  padding: 15px;
  text-align: center;
}

td{
  padding: 5px;
  font-size: 15px;
}

th{
  color: white;
}

tbody td{
  text-align: center;
  cursor:pointer;
}

tr:nth-child(odd){
  background-color: #e2e2e2 ;
}

tr:nth-child(even){
  background-color: #efefef;
}

thead th{
background-color: #736481;
}

td:hover{
font-weight: bold;
}

#sessionTable thead th:nth-child(1), th:nth-child(2), th:nth-child(3),th:nth-child(6), th:nth-child(7){
width: 8%;
margin-top: 50px;
}

/* Category, Label/Brand, Vendor  */
#sessionTable thead th:nth-child(1){
  width: 5%;
}

#sessionTable thead th:nth-child(2){
  width: 5%;
}

#sessionTable thead th:nth-child(3){
  width: 5%;
}

/* Description */
#sessionTable thead th:nth-child(4){
width: 12%
}

/* Product Code, Cost*/
#sessionTable thead th:nth-child(6){
width: 5%
}

#sessionTable thead th:nth-child(7){
width: 5%;
}

/* Real Qualifications */
#sessionTable thead th:nth-child(8){
    width: 3%;
}

#sessionTable thead th:nth-child(10){
    width: 3%;
}

#sessionTable thead th:nth-child(12){
    width: 3%;
}

#sessionTable thead th:nth-child(14){
    width: 3%;
}

#sessionTable thead th:nth-child(16){
    width: 3%;
}

/* Notes */
#sessionTable thead th:nth-child(5){
    width: 10%;
}

/*Descriptions*/
#sessionTable thead th:nth-child(9), th:nth-child(11), th:nth-child(13),th:nth-child(15),th:nth-child(17){
   width: 5%;
}

#sessionTable td:nth-child(9), td:nth-child(11), td:nth-child(13),td:nth-child(15),td:nth-child(17){
font-size: 15px;
}

/* Real Font*/
#sessionTable td:nth-child(8), td:nth-child(10), td:nth-child(12),td:nth-child(14),td:nth-child(16){
font-size: 15px;
}

#sessionTable td {
  text-align: center;
}

#results td{
text-align: center;
}
