@font-face { font-family: Delicious; src: url('Modeka.otf'); }
@font-face { font-family: Yummy; src: url('Montserrat-Light.ttf'); }
/*button, input, select {
	font-family: inherit;
    font-size: 100%;
}
input, select {
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}
*/
input[type="text"], input[type="number"]{
    width: 150px;
    padding: 5px;
    margin: 5px, 5px, 5px, 5px;
    border-radius: 5px;
}
#real-qualifications{
    width:600px;
}
/*

input[type="checkbox"]{
    width: 30px;
}
label {
	display: inline;
}
div{
    display: inline;
}
fieldset {
    width: 33%;
}
*/
#localDescription, #fairDescription, #ecologicalDescription, #humaneDescription, #disqualifierDescription{
    width: 400px;
}

#category{
    width: 165px;
}

.col1{
    flex-direction: column;
    width: 100%;
}

.col2{
    display: flex;
    flex-direction: column;
    /*margin: 5px, 5px, 5px, 5px;
    padding: 5%;*/
}

.row1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#categoryCheck {
    margin-left: 30px;
}

#data-entry-form{
    font-family: Yummy;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: large;
    padding-top: 15px;
    padding-bottom: 15px
}

#missionStatement{
    font-family: Delicious;
    font-size: 28px;
    text-align: center;
    width: 390px;
    margin:10px;
}

#missionBackground{
    margin: auto;
    margin-left: 2%;
    margin-top: 2%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#disclaimer{
    font-family: Delicious;
    font-size: 11px;
    text-align: center;
    width: 400px;

}

div{
    display: inline-block;
}

#navBar{
    display: flex;
    flex-direction: row;
    background-color: white;
}

.cur_page{
    color:white;
   /* background-color: #86898e;*/
}

.home{
    background-image: url("apricot.jpeg");
    background-size:100%;
}

.data_entry{
    /*background-image: url("back3.png");*/
    background-size:100%;
    background-color: #F5F5DC';
}

#urlLink{
    text-decoration:none;
    background-color: #FAFDFD;
    color: black;
    text-decoration: underline;
    padding: 0px 128px 0px 0px;
}

h1{
    color:white;
    width:98%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 2%;
    background-color: #ba7e46;
    font-family: Delicious;
    /*font-family:Yummy,bold;*/
    display: inline-block;
    margin:0;
    opacity:1;
}

body{
    /*background-image: url("back2.jpg");*/
    background-size:100%;
    background-color: #FAFDFD;
    font-family: Yummy;
}

img{
    opacity: .1;
}

a{
    text-decoration:none;
    background-color: #ba7e46;
    font-family:Yummy;
    font-size: large;
    font-weight: bold;
    color: white;
    width:25%;
    padding-top:10px;
    padding-bottom:5px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    opacity:1;
    border-top:1px solid white;
    border-right:1px solid white;
}

a:hover{
    color:white;
    background-color:#511e03;
}

a:active{
    color:white;
    background-color: #511e03;
}

.entry{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
}

.button{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  text-decoration: none;
  white-space: nowrap;
  /*color: #555;*/

  /*background-color: #ddd;*/
}

#rating_version{
width: 100px;
}

#year{
width:100px;
}

#month{
width:100px;
}
#padBelow {
    margin-bottom: 10px;
}
button#EScancel{
   border-radius:4px;
}
button#EScancel:hover{
    background-color: #F1A19B;
    color:#ffffff; 
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}
input#ESsubmit{
    border-radius:4px;
}
input#ESsubmit:hover {
    background-color: #8CD3BA;
    color:#ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}
button#ESenter{
    border-radius:4px;
}
button#ESenter:hover{
    background-color: #A3C1E5;
    color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}
.searchSubmit{
    padding: 6px 15px;
}
.table{
    border: 1px solid black;
}
