<!DOCTYPE html>

<html lang="en">
    <head>
        <title>data-entry</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link type="text/css" href="../static/styles.css" rel="stylesheet"/>
    </head>
<body>
    <h1>Real Food Calculator</h1>
    <a>Data Entry Session</a>
    <a>Data Visualization</a>
    <a>View/Download Files</a>
    <h2>Adding Items to October 2018 with Rating Version 2</h2>

    <form action="" id="item-data" method="post" name="item-data">
        <fieldset>
        <div>
            <label for="category">Category</label>
            <select id="category" name="category" required>
                <option value="dairy">dairy</option>
                <option value="baked">baked</option>
                <option value="beverages">beverages</option>
                <option value="eggs">eggs</option>
                <option value="grocery">grocery</option>
                <option value="meat">meat</option>
                <option value="poultry">poultry</option>
                <option value="produce">produce</option>
                <option value="fish">fish</option>
                <option value="teacoffee">tea or coffee</option>
            </select>
            <input id="category" name="category-keep" type="checkbox">
        </div>
        <div>
            <label for="vendor">Vendor</label>
            <input id="vendor" name="vendor" type="text" required>
            <input id="vendor" name="vendor-keep" type="checkbox">
        </div>
        <div>
            <label for="brand">Label/Brand</label>
            <input id="brand" name="brand" type="text">
            <input id="brand" name="brand-keep" type="checkbox">
        </div>
        </fieldset>
        <fieldset>
        <div>
            <label for="description">Description</label>
            <input id="description" name="description" type="text" placeholder="one to two words" required>
            <input id="description" name="description-keep" type="checkbox">
        </div>
        <div>
            <label for="notes">Notes</label>
            <input id="notes" name="notes" type="text" placeholder="as labeled on invoice">
            <input id="notes" name="notes-keep" type="checkbox">
        </div>
        <div>
                <label for="product-code">Product Code</label>
                <input id="product-code" name="product-code" type="number">
                <input id="product-code" name="product-code-keep" type="checkbox">
            </div>
        <div>
            <label for="cost">Cost</label>
            <input id="cost" name="cost" type="number" step="any" placeholder="0.00" required>
        </div>
    </fieldset>

        <fieldset>
            <div>
            <label for="local">Local</label>
            <input id="local" name="local" type="checkbox">
            <input id="local" name="local-notes" type="text" placeholder="local notes">
            </div>

            <div>
            <label for="fair">Fair</label>
            <input id="fair" name="fair" type="checkbox">
            <input id="fair" name="fair-notes" type="text" placeholder="fair notes">
            </div>

            <div>
            <label for="ecological">Ecological</label>
            <input id="ecological" name="ecological" type="checkbox">
            <input id="ecological" name="ecological-notes" type="text" placeholder="ecological notes">
            </div>

            <div>
            <label for="humane">Humane</label>
            <input id="humane" name="humane" type="checkbox">
            <input id="humane" name="humane-notes" type="text" placeholder="humane notes">
            </div>

            <div>
            <label for="disqualifer">Disqualifier</label>
            <input id="disqualifer" name="disqualifer" type="checkbox">
            <input id="disqualifer" name="disqualifier-notes" type="text" placeholder="disqualifer notes">
            </div>

        </fieldset>
        <button type="submit">Add Item</button>
    </form>
    <h3>Past Entries</h3>
    <table>
        <tr>
            <th>Month</th>
            <th>Year</th>
            <th>Description</th>
            <th>Product Code</th>
            <th>Label/Brand</th>
            <th>Vendor</th>
            <th>Rating</th>
            <th>Local</th>
            <th>Fair</th>
            <th>Ecological</th>
            <th>Humane</th>
            <th>Disqualifier</th>
            <th>Notes</th>
            </tr>
            <tr>
                <td>Oct</td>
                <td>2017</td>
                <td>juice</td>
                <td>52347</td>
                <td>Tropicana</td>
                <td>Sysco</td>
                <td>2</td>
                <td>Y</td>
                <td>N</td>
                <td>N</td>
                <td>N</td>
                <td>N</td>
                <td>this is an example</td>
            </tr>
            <tr>
                <td>Oct</td>
                <td>2017</td>
                <td>juice</td>
                <td>52347</td>
                <td>Tropicana</td>
                <td>Sysco</td>
                <td>2</td>
                <td>Y</td>
                <td>N</td>
                <td>N</td>
                <td>N</td>
                <td>N</td>
                <td>this is an example</td>
            </tr>
    </table>
</body>
</html>
