<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <title>data-entry</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <script>
window.onload = function (){
//console.log(localStorage.getItem("savedEntry"));
if (localStorage.getItem('savedEntry')!=""){
var savedEntry = JSON.parse(localStorage.getItem('savedEntry'));
console.log("savedEntry:", savedEntry);
populateSavedItems(savedEntry);
localStorage["isSavedEntry"] = false;
localStorage["savedEntry"] = {};
}
}


if ((localStorage.getItem("entrySession") == '[]') || (localStorage.getItem("entrySession") == '')){
    console.log("Entry Session is empty ");
    var initializeEntrySession = [];
    //localStorage["entrySession"] = initializeEntrySession;
 
}else{
    console.log("Entry Session is Not empty"); 
    var initializeEntrySession = JSON.parse(localStorage.getItem("entrySession"));
    console.log("Initialized Entry Session", initializeEntrySession);
}


   // var initializeEntrySession = [];
    //localStorage["entrySession"] = initializeEntrySession;

    function toggleCheckbox(item){
         console.log("hi we're here");
         var inputID = item.id;
         console.log(inputID);


         if (typeof(Storage) !== "undefined") {
              if (!document.getElementById(inputID).checked){
                  //this may be backwards!!
                 sessionStorage.removeItem(inputID.slice(0, -6));
                 console.log("its gone!");
              }
              else{
             //unchecked, save info
                var thisInput = document.getElementById(inputID.slice(0, -6));
                console.log(thisInput.value);
                sessionStorage[inputID.slice(0, -6)] = thisInput.value;


              }
        }
        else {
            document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
        }
    }

 function checkInvalidInputs(){
	var invalid = false;
        var alertIssues = [];
        if (document.getElementById("category").value == '%'){
            invalid = true;
            alertIssues.push("Choose a category.");
        }
        if (document.getElementById("vendor").value == ''){
             invalid = true;
            alertIssues.push("Enter a vendor");

        }
        if (document.getElementById("cost").value <= 0.00){
              invalid = true;
              alertIssues.push("Enter a valid cost.");
        }
       var descriptions = ["local", "fair", "humane", "ecological", "disqualifier"];

       for (qualification in descriptions){
       var tag = descriptions[qualification]+"Description";
       var trueTag = descriptions[qualification]+"-true";
       console.log("tag is: ", tag);
       var falseTag = qualification+"-false";
        if (((document.getElementById(tag).value == "")) && (document.getElementById(trueTag).checked)){
         // if ((!(document.getElementById(tag).value == ""))){
            alertQualification = (descriptions[qualification].charAt(0).toUpperCase() +descriptions[qualification].slice(1)+ " notes do not match "+ descriptions[qualification]+" status.");
           alertIssues.push(alertQualification);
           invalid = true;
      }
}
if (invalid == true){
        var  alert = "";
        for (issue in alertIssues){
             alert += (alertIssues[issue] + "\r\n");
        }
        window.alert(alert);
        }
        return invalid;

    }

    function submit(){

	if (!checkInvalidInputs()){
         var itemsToSave = getItemsToSave();
        var thisEntry = [];
        var inputs = document.querySelectorAll('input[type=text]');

        var numInputs = document.querySelectorAll('input[type=number]');

        var categoryInputs = document.querySelectorAll('[name=category]');
	thisEntry.push(categoryInputs[0].value);
        var radioInputs = document.querySelectorAll('[type=radio]');

        if (sessionStorage.category && (document.getElementById('category-check').checked)){
        //instead of loading from session storage, load the value that is in the field currently
            categoryInputs[0].value = sessionStorage.category;
        }
        else{
            categoryInputs[0].value = '%';
        }


        for(var i = 0; i < 5; i++) {
            thisEntry.push(inputs[i].value);

            inputID = inputs[i].id;
            //set vendor to thing in session storage

            //finds fields with defined session storage to repopulate fields (based on id tags)
            if (sessionStorage[inputID]) {
                var vendorValue = sessionStorage.getItem(inputID);

                if (document.getElementById(inputID + '-check').checked){

                document.getElementById(inputID).value = vendorValue;
                }
                else{

                    inputs[i].value = '';
                    sessionStorage.removeItem(inputID);

                }
            }
            else {
                //if no session storage of input, clear field
                inputs[i].value = '';
            }
        }
	thisEntry.push(numInputs[0].value);

	numInputs[0].value = '';
	thisEntry.push(document.getElementById('local-true').checked);


	thisEntry.push(document.getElementById('localDescription').value);

	thisEntry.push(document.getElementById('fair-true').checked);


        thisEntry.push(document.getElementById('fairDescription').value);

	thisEntry.push(document.getElementById('ecological-true').checked);


        thisEntry.push(document.getElementById('ecologicalDescription').value);

	if (document.getElementById('humane-na').checked){

		thisEntry.push('N/A');
	}
	else{
		thisEntry.push(document.getElementById('humane-true').checked);
	}
	thisEntry.push(document.getElementById('humaneDescription').value);
	thisEntry.push(document.getElementById('disqualifier-true').checked);


        thisEntry.push(document.getElementById('disqualifierDescription').value);


       // localStorage["foodData"] += "/" + JSON.stringify(thisEntry);
        initializeEntrySession.push(thisEntry);
        console.log("Entry Session", localStorage.getItem('entrySession'));
        localStorage.setItem('entrySession', JSON.stringify(initializeEntrySession));
        populateSavedItems(itemsToSave);
} }



    function populateItem(description, category,productCode, brand,vendor,local,localDescription, fair, fairDescription, ecological, ecologicalDescription, humane, humaneDescription, disqualifier,disqualfierDescription, notes){
      console.log("Description Param:", description);
      console.log("Category param:", category);
       var item  = {"description": description, "category": category, "productCode": productCode, "brand":brand,"vendor":vendor, "local": local, "localDescription": localDescription, "fair": fair, "fairDescription": fairDescription, "ecological": ecological, "ecologicalDescription": ecologicalDescription, "humane": humane, "humaneDescription": humaneDescription, "disqualifier": disqualifier, "disqualifierDescription": disqualfierDescription, "notes":notes}
	for (var data in item){
           console.log("Data", data);
           console.log("value", item[data]);
           populateForm(data, item[data]);
    }
    }
    function populateForm(dataLabel, row){

        if (row=="False") {
            document.getElementById(dataLabel+"-false").checked = true;
            console.log("False thing");
            row = "off";
        }
        if (row=="True") {
            console.log("True thing");
            document.getElementById(dataLabel+"-true").checked = true;
            row = "on";
        }
        if (row=="None") {
            document.getElementById(dataLabel+"-na").checked = true;
            row = "none";
        }
        if (dataLabel.includes("Description")){
           var optionValues = [];
           var optionList = ('#'+dataLabel+' option');
           $(optionList).each(function() {
           optionValues.push($(this).val());
           });
           var optionStrings = [];
           for (item in optionValues){
               var lowerItem = optionValues[item].toLowerCase();
               optionStrings.push(optionValues[item]);
               if (row == lowerItem){
                  document.getElementById(dataLabel).value = optionValues[item];
                  return;
               }

        }
        if (!optionStrings.includes(row)){
               alertMsg = (row + " for " + dataLabel.replace("Description", "") + " notes is outdated. Please manually select "+ dataLabel.replace("Description","")+" notes.");
               window.alert(alertMsg);
      }
      }
      if (!(row=="on") && !(row=="off") && !(row=="none")){
          document.getElementById(dataLabel).value = row;
    }
}
function searchMatches(){
    var itemsToSave = getItemsToSave();
    $("#data-entry-form").submit();
    return false;
}
function getItemsToSave(){
    itemsToSave = {}
    $("input:checkbox:checked").each(function() {
           item = ($(this).attr("name"));
           itemName = item.slice(0, -5);
           itemValue = document.getElementById(itemName).value;
           itemsToSave[itemName] = itemValue;
           });

console.log("itemsToSave", JSON.stringify(itemsToSave));
    localStorage.setItem('savedEntry', JSON.stringify(itemsToSave));
    return itemsToSave;
}
function populateSavedItems(items){
    for (key in items){
        document.getElementById(key).value = items[key];
        console.log("Updated", key, " to ", items[key]);
        checkbox = (key+ "-check");
        document.getElementById(checkbox).checked = true;
}
}
</script>
<script type="text/javascript" src="../static/example.js" defer></script>
    </head>
<body class = "data_entry">
    <h1>Real Food Calculator</h1>
    <!--<div class="topnav">
      <nav>
          <a id="home_btn" href="#">Home</a>
          <a id="data_entry_btn" href="#">Data Entry</a>
          <a id="entry_session_btn" href="#">Entry Session</a>
          <a id="view_download_btn" href="#">View/Download Data</a>
          <a id="visualization_btn" href="#">Visualization</a>
      </nav>
    </div> -->
    <h2>Adding Items to October 2018 with Rating Version 2</h2>
   <button class="button" onclick="go_to_entry_session();">Go To Entry Session</button>
    <form action = "data_entry" method = "POST" id = "data-entry-form">
      <fieldset class = "firstTwoCols">
        <div class="col1">
          <div>
            <div class = "row1">
              <label for="category">Category</label>
              <input id="category-check" name="category-keep" type="checkbox">
            </div>
            <select id="category" name="category">
              <option value="%">Choose a Category</option>
              <option value="dairy">dairy</option>
              <option value="baked">baked</option>
              <option value="beverages">beverages</option>
              <option value="eggs">eggs</option>
              <option value="grocery">grocery</option>
              <option value="meat">meat</option>
              <option value="poultry">poultry</option>
              <option value="produce">produce</option>
              <option value="fish">fish</option>
              <option value="teacoffee">tea or coffee</option>
            </select>
          </div>
          <div class="col1">
            <div class = "row1">
              <label for="vendor">Vendor</label>
              <input id="vendor-check" name="vendor-keep" type="checkbox">
            </div>
            <input id="vendor" name="vendor" type="text">
          </div>
          <div class="col1">
            <div class = "row1">
              <label for="brand">Label/Brand</label>
              <input id="brand-check" name="brand-keep" type="checkbox">
            </div>
            <input id="brand" name="brand" type="text">
          </div>
        </div>
        <input type="submit" onclick="return searchMatches();" value="Search for Similar Items"/>
        <!--<button type="button" id="clear-submit" onclick="submit()">Submit Item to Entry Session</button>
          <button type="submit">Search</button>
          <button type="button" id="clear-submit" onclick="submit()">Submit</button>-->
      </fieldset>
      <fieldset >
        <div class="col1">
          <div class = "col2">
            <div class = "row1">
              <label for="description">Description</label>
              <input id="description-check" name="description-keep" type="checkbox">
            </div>
            <input id="description" name="description" type="text" placeholder="one to two words">
          </div>
          <div class = "col2">
            <div class = "row1">
              <label for="notes">Notes</label>
              <input id="notes-check" name="notes-keep" type="checkbox">
            </div>
            <input id="notes" name="notes" type="text" placeholder="as labeled on invoice">
          </div>
          <div class = "col2">
            <div class = "row1">
              <label for="productCode">Product Code</label>
              <input id="productCode-check" name="productCode-keep" type="checkbox">
            </div>
            <input id="productCode" name="productCode" type="text">
          </div>
          <div>
            <label class = "row1" for="cost">Cost</label>
            <input id="cost" name="cost" type="number" step="any" placeholder="0.00">
          </div>
        </div> <!--TODO :div wasn't originally here -->
      </fieldset>

      <fieldset id = "real-qualifications">
        <div class="col1">
          <div class="control">
            <div class = "row1">
              <div>
                <label class="radio" for="local">
                  <input id="local-true" name="local" type="radio" value="on">Local</label>
                <label class="radio" for="local">
                  <input id="local-false" name="local" type="radio" value="off" checked>Not Local</label>
                </div>
                <input id="real-check" name="real-keep" type="checkbox">
            </div>
            <select id="localDescription" name="localDescription">
              <option value="">Not Local</option>
              <option value="Independently or Cooperatively Owned within 250 mi, < $5 million">Independently or Cooperatively Owned within 250 mi, < $5 million</option>
              <option value="Independently or Cooperatively Owned within 250 mi, < $50 million"> Independently or Cooperatively Owned within 250 mi, < $50 million </option>
              <option value="Meat within 500 mi, < $50 million">Meat within 500 mi, < $50 million</option>
              <option value="Multi-ingredient Product, 50% within 250 mi">Multi-ingredient Product, 50% within 250 mi</option>
              <option value="Aggregated Product, 75% within 250 mi">Aggregated Product, 75% within 250 mi</option>
            </select>
          </div>

          <div class="control">
            <div class = "row1">
              <div>
                <label class="radio" for="fair">
                  <input id="fair-true" name="fair" type="radio" value="on">Fair</label>
                <label class="radio" for="fair">
                  <input id="fair-false" name="fair" type="radio" value="off" checked>Not Fair</label>
              </div>
            </div>
            <select id="fairDescription" name="fairDescription">
              <option value="">Not Fair</option>
              <option value="Ecocert Fair Trade Certified">Ecocert Fair Trade Certified</option>
              <option value="Equitable Food Initiative">Equitable Food Initiative</option>
              <option value="Fair Food Program by the Coalition of Immokalee Workers">Fair Food Program by the Coalition of Immokalee Workers</option>
              <option value="Fair for Life Certified by Institute for Marketecology (IMO)">Fair for Life Certified by Institute for Marketecology (IMO)</option>
              <option value="Fairtrade International Certified by Fair Labeling Organization (FLO)">Fairtrade International Certified by Fair Labeling Organization (FLO)</option>
              <option value="Fair Trade Certified by Fair Trade USA">Fair Trade Certified by Fair Trade USA</option>
              <option value="FairWild">FairWild</option>
              <option value="Fair Trade Certified Ingredient by Fair Trade USA">Fair Trade Certified Ingredient by Fair Trade USA</option>
              <option value="Food Justice Certified by Agricultural Justice Project">Food Justice Certified by Agricultural Justice Project</option>
              <option value="Hand in Hand">Hand in Hand</option>
              <option value="Milk with Dignity by Migrant Justice">Milk with Dignity by Migrant Justice</option>
              <option value="Multi-ingredient product, 50% fair ingredients">Multi-ingredient product, 50% fair ingredients</option>
            </select>
          </div>

          <div class="control">
            <div class = "row1">
              <div>
                <label class="radio" for="ecological">
                  <input id="ecological-true" name="ecological" type="radio" value="on">Ecological</label>
                <label class="radio" for="ecological">
                  <input id="ecological-false" name="ecological" type="radio" value="off" checked>Not Ecological</label>
              </div>
            </div>
            <select id="ecologicalDescription" name="ecologicalDescription">
              <option value="">Not Ecological</option>
              <option value="ANSI/LEO-4000">ANSI/LEO-4000</option>
              <option value="Biodynamic Certified by Demeter">Biodynamic Certified by Demeter</option>
              <option value="Bird Friendly by Smithsonian">Bird Friendly by Smithsonian</option>
              <option value="Campus farm or garden">Campus farm or garden</option>
              <option value="Certified Sustainably Grown">Certified Sustainably Grown</option>
              <option value="FairWild">FairWild</option>
              <option value="Fair Trade USA Certified">Fair Trade USA Certified</option>
              <option value="Food Alliance Certified">Food Alliance Certified</option>
              <option value="LEAF (Linking Environment and Farming)">LEAF (Linking Environment and Farming)</option>
              <option value="Marine Stewardship Council (MSC)">Marine Stewardship Council (MSC)</option>
              <option value="Monterey Bay Aquarium Seafood Watch Guide “Best Choices"">Monterey Bay Aquarium Seafood Watch Guide “Best Choices"</option>
              <option value="Multi-ingredient product, 50% ecologically sound ingredients">Multi-ingredient product, 50% ecologically sound ingredients</option>
              <option value="Protected Harvest Certified">Protected Harvest Certified</option>
              <option value="Salmon Safe">Salmon Safe</option>
              <option value="Rainforest Alliance Certified">Rainforest Alliance Certified</option>
              <option value="USDA Organic">USDA Organic</option>
              <option value="USDA Transitional Organic">USDA Transitional Organic</option>
            </select>
          </div>

          <div class="control">
            <div class = "row1">
              <div>
                <label class="radio" for="humane">
                  <input id="humane-true" name="humane" type="radio" value="on">Humane</label>
                <label class="radio" for="humane">
                  <input id="humane-false" name="humane" type="radio" value="off">Not Humane</label>
                <label class="radio" for="humane">
                <input id="humane-na" name="humane" type="radio" value="none" checked>Not Applicable</label>
              </div>
            </div>  
            <select id="humaneDescription" name="humaneDescription">
              <option value="">Not Humane or Not an Animal Product</option>
              <option value="AGA Grasfed by American Grassfed Association (ruminants only)">AGA Grasfed by American Grassfed Association (ruminants only)</option>
              <option value="American Humane Certified [Cage Free and Enriched Colony] (Egg-layers only)">American Humane Certified [Cage Free and Enriched Colony] (Egg-layers only)</option>
              <option value="American Humane Certified [Free Range] (Egg-layers only)">American Humane Certified [Free Range] (Egg-layers only)</option>
              <option value="Animal Welfare Approved by Animal Welfare Institute">Animal Welfare Approved by Animal Welfare Institute</option>
              <option value="Animal Welfare Approved by Animal Welfare Institute / AWA Certified Grassfed">Animal Welfare Approved by Animal Welfare Institute / AWA Certified Grassfed</option>
              <option value="Biodynamic Certified by Demeter">Biodynamic Certified by Demeter</option>
              <option value="Certified Humane by Humane Farm Animal Care (all species except swine)">Certified Humane by Humane Farm Animal Care (all species except swine)</option>
              <option value="Certified Humane by Humane Farm Animal Care (swine only)">Certified Humane by Humane Farm Animal Care (swine only)</option>
              <option value="Food Alliance Certified">Food Alliance Certified</option>
              <option value="Global Animal Partnership Step 3">Global Animal Partnership Step 3</option>
              <option value="Global Animal Partnership steps 4-5+">Global Animal Partnership steps 4-5+</option>
              <option value="Pennsylvania Certified Organic 100% Grassfed by USDA">Pennsylvania Certified Organic 100% Grassfed by USDA</option>
            </select>
          </div>

          <div class="control">
            <div class = "row1">
              <div>
                <label class="radio" for="disqualifier">
                  <input id="disqualifier-true" name="disqualifier"type="radio" value="on" >Disqualifier</label>
                <label class="radio" for="disqualifier">
                  <input id="disqualifier-false" name="disqualifier" type="radio" value="off" checked>No Disqualifier</label>
              </div>
            </div>
            <select id="disqualifierDescription" name="disqualifierDescription">
              <option value="">No Disqualifier</option>
              <option value="Concentrated Animal Feeding Operation">Concentrated Animal Feeding Operation</option>
              <option value="Genetically Modified Organisms">Genetically Modified Organisms</option>
              <option value="Guilty of Criminal Charges of Forced Labor">Guilty of Criminal Charges of Forced Labor</option>
              <option value="Labor Violations">Labor Violations</option>
              <option value="Ultra-Processed Foods">Ultra-Processed Food</option>
            </select>
          </div>
        </div> <!-- TODO : added div here -->
      </fieldset>
      <!-- <input type="submit" onclick="return searchMatches();" value="Search for Similar Items"/> -->
    </form>
<button type="button" id="clear-submit" onclick="submit()">Submit Item to Entry Session</button>

    <h3>Past Entries</h3>
    <table>
	<tr>
        <th></th>
        <th>Description</th>
        <th>Category</th>
        <th>Product Code</th>
        <th>Label/Brand</th>
        <th>Vendor</th>
        <th>Local</th>
        <th>Local Description</th>
        <th>Fair</th>
        <th>Fair Description</th>
        <th>Ecological</th>
        <th>Ecological Description</th>
        <th>Humane</th>
        <th>Humane Description</th>
        <th>Disqualifier</th>
        <th>Disqualifier Description</th>
        <th>Notes</th>
        </tr>
	{% for item in result %}
        <tr>
        <td><button onclick="populateItem('{{item.description}}','{{item.category}}','{{item.productCode}}','{{item.brand}}','{{item.vendor}}','{{item.local}}','{{item.localDescription}}','{{item.fair}}','{{item.fairDescription}}','{{item.ecological}}','{{item.ecologicalDescription}}','{{item.humane}}','{{item.humaneDescription}}','{{item.disqualifier}}','{{item.disqualifierDescription}}','{{item.notes}}')">ADD</button></td>
	<td onclick="populateForm('description','{{item.description}}')"> {{item.description}} </td>
    <td onclick="populateForm('category','{{item.category}}')"> {{item.category}} </td>
    <td onclick="populateForm('productCode','{{item.productCode}}')"> {{item.productCode}} </td>
    <td onclick="populateForm('brand','{{item.brand}}')"> {{item.brand}} </td>
    <td onclick="populateForm('vendor','{{item.vendor}}')"> {{item.vendor}} </td>
    <td onclick="populateForm('local','{{item.local}}')"> {{item.local}} </td>
    <td onclick="populateForm('localDescription','{{item.localDescription}}')"> {{item.localDescription}} </td>
    <td onclick="populateForm('fair','{{item.fair}}')"> {{item.fair}} </td>
    <td onclick="populateForm('fairDescription','{{item.fairDescription}}')"> {{item.fairDescription}} </td>
    <td onclick="populateForm('ecological','{{item.ecological}}')"> {{item.ecological}} </td>
    <td onclick="populateForm('ecologicalDescription','{{item.ecologicalDescription}}')"> {{item.ecologicalDescription}} </td>
    <td onclick="populateForm('humane','{{item.humane}}')"> {{item.humane}} </td>
    <td onclick="populateForm('humaneDescription','{{item.humaneDescription}}')"> {{item.humaneDescription}} </td>
    <td onclick="populateForm('disqualifier','{{item.disqualifier}}')"> {{item.disqualifier}} </td>
    <td onclick="populateForm('disqualifierDescription','{{item.disqualifierDescription}}')"> {{item.disqualifierDescription}} </td>
    <td onclick="populateForm('notes','{{item.notes}}')"> {{item.notes}} </td>
        </tr>
{% endfor %}
    </table>

</body>

</html>
