<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/styles.css">
  <title>data-entry</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/favicon.ico" type="image/x-icon">

 <script>

window.onload = function (){
  /*
  Populate form with data if checkboxes are checked (if savedEntry exists)
  */
  if(localStorage.getItem("savedEntry")){
    var savedEntry = JSON.parse(localStorage.getItem('savedEntry'));
    populateSavedItems(savedEntry);
    localStorage.setItem("isSavedEntry", false);
    localStorage.removeItem("savedEntry");
    }
  }


// add any new items to exisiting items in entrySession
if(localStorage.getItem("entrySession")){
  // entry session is not empty, add items to exisiting list
  var initializeEntrySession = JSON.parse(localStorage.getItem("entrySession"));
}else{
  // entry session is empty, add items to new list
  var initializeEntrySession = [];
}

function checkInvalidInputs(){
  /*
  Error Checking and Notification for Item Entry
  Return False if item does not meet qualifications
  Return True if item is ready to be inserted into database

  CHECK FOR:
    - existence of category, vendor, cost, and description
    - cost is greater than $0.00
    - an item has a real qualification if and only if it has a corresponding real description
  */
	var invalid = false;
  var alertIssues = [];

  // Check for existence of category, vendor, description and cost
  if (document.getElementById("category").value == '%'){
    invalid = true;
    alertIssues.push("Choose a category.");
  }
  if (document.getElementById("vendor").value == ''){
    invalid = true;
    alertIssues.push("Enter a vendor");
  }
  if (document.getElementById("description").value == ''){
    invalid = true;
    alertIssues.push("Enter a description");
  }
  // cost must be greater than $0.00
  if (document.getElementById("cost").value <= 0.00){
    invalid = true;
    alertIssues.push("Enter a valid cost.");
  }

  // item has a real qualification if and only if it has a corresponding real description
  var descriptions = ["local", "fair", "humane", "ecological", "disqualifier"];
  for (qualification in descriptions){
    var tag = descriptions[qualification]+"Description";
    var trueTag = descriptions[qualification]+"-true";
    var falseTag = qualification+"-false";
    if (((document.getElementById(tag).value == "")) && (document.getElementById(trueTag).checked)){
      alertQualification = (descriptions[qualification].charAt(0).toUpperCase() +descriptions[qualification].slice(1)+ " notes do not match "+ descriptions[qualification]+" status.");
      alertIssues.push(alertQualification);
      invalid = true;
    }
  }

  // alert user that entry is not valid with message
  if (invalid == true){
    var  alert = "";
    for (issue in alertIssues){
      alert += (alertIssues[issue] + "\r\n");
    }
    window.alert(alert);
  }
  return invalid;
}

function submit(){
  /*
  If item data meets all error checking qualifications, store item in local storage, clear form, and repopulate
  fields saved with checkboxes.
  */
	if (!checkInvalidInputs()){
    // retrieve fields' values with checked boxes
    var itemsToSave = getItemsToSave();

    // create list of item's values
    var thisEntry = [];

    // get item's values from form
    var inputs = document.querySelectorAll('input[type=text]');
    var numInputs = document.querySelectorAll('input[type=number]');
    var categoryInputs = document.querySelectorAll('[name=category]');
    var radioInputs = document.querySelectorAll('[type=radio]');

    // add 'category' to item
    thisEntry.push(categoryInputs[0].value);

    // add all text inputs to item ('vendor', 'brand','description','notes','productCode')
    for(var i = 0; i < 5; i++) {
      thisEntry.push(inputs[i].value);
      inputID = inputs[i].id;
    }

    // add cost to item
    thisEntry.push(numInputs[0].value);
    numInputs[0].value = '';

    // add real qualifications and descriptions to item
    thisEntry.push(document.getElementById('local-true').checked);
    thisEntry.push(document.getElementById('localDescription').value);
    thisEntry.push(document.getElementById('fair-true').checked);
    thisEntry.push(document.getElementById('fairDescription').value);
    thisEntry.push(document.getElementById('ecological-true').checked);
    thisEntry.push(document.getElementById('ecologicalDescription').value);
    if (document.getElementById('humane-na').checked){
      thisEntry.push('N/A');
    } else{
      thisEntry.push(document.getElementById('humane-true').checked);
    }
    thisEntry.push(document.getElementById('humaneDescription').value);
    thisEntry.push(document.getElementById('disqualifier-true').checked);
    thisEntry.push(document.getElementById('disqualifierDescription').value);

    // add item to localStorage
    initializeEntrySession.push(thisEntry);
    localStorage.setItem('entrySession', JSON.stringify(initializeEntrySession));

    // clear form
    document.getElementById("data-entry-form").reset();
    // repopulate fields with saved checkboxes
    populateSavedItems(itemsToSave);
  }
}

function populateItem(description, category, productCode, brand, vendor, local, localDescription, fair, fairDescription, ecological, ecologicalDescription, humane, humaneDescription, disqualifier,disqualfierDescription, notes){
  /*
  Function to populate the form fields with a previous item's data.
  */
  var item = {"description": description, "category": category, "productCode": productCode, "brand":brand,"vendor":vendor, "local": local, "localDescription": localDescription, "fair": fair, "fairDescription": fairDescription, "ecological": ecological, "ecologicalDescription": ecologicalDescription, "humane": humane, "humaneDescription": humaneDescription, "disqualifier": disqualifier, "disqualifierDescription": disqualfierDescription, "notes":notes}
	for (var data in item){
    populateForm(data, item[data]);
  }
}

function populateForm(dataLabel, value){
  /*
  Function to populate a particular field (dataLabel) with value (row)
  */

  // transform boolean strings to radio button booleans
  // display radio button false
  if (value=="False") {
      document.getElementById(dataLabel+"-false").checked = true;
      value = "off";
  }
  // display radio button true
  if (value=="True") {
      document.getElementById(dataLabel+"-true").checked = true;
      value = "on";
  }
  // display radio button N/A
  if (value=="None") {
      document.getElementById(dataLabel+"-na").checked = true;
      value = "none";
  }

  // populate real descriptions with options from corresponding HTML select input
  if (dataLabel.includes("Description")){
      var optionValues = [];
      var optionList = ('#'+dataLabel+' option');
      // get all options for a real description
      $(optionList).each(function() {
      optionValues.push($(this).val());
      });
      var optionStrings = [];
      for (item in optionValues){
          var lowerItem = optionValues[item].toLowerCase();
          optionStrings.push(optionValues[item]);
          // populate description with select value that matches
          if (value == lowerItem){
            document.getElementById(dataLabel).value = optionValues[item];
            return;
          }
        }
      // do not allow descriptions that are not in drop down menu to populate
      // alert user of invalid description
      if (!optionStrings.includes(value)){
        alertMsg = (value + " for " + dataLabel.replace("Description", "") + " notes is outdated. Please manually select "+ dataLabel.replace("Description","")+" notes.");
        window.alert(alertMsg);
      }
  }
  // populate all other dataLabels with value given
  if (!(value=="on") && !(value=="off") && !(value=="none")){
    document.getElementById(dataLabel).value = value;
  }
}

function searchMatches(){
  /*
  Function to search for items that match fields in form
  Submits 'data-entry-form' for action on website.py
  */
    var itemsToSave = getItemsToSave();
    $("#data-entry-form").submit();
    return false;
}

function getItemsToSave(){
  /*
  Function to save form fields' values that have the checkbox checked
  Saves items to local storage 'savedEntry'
  Returns items to save as dictionary with field/value as key/value pairs
  */
  itemsToSave = {}
  // iterate through checkboxes and save associated value to itemsToSave
  $("input:checkbox:checked").each(function() {
    item = ($(this).attr("name"));
    itemName = item.slice(0, -5);
    // save all real qualifications and descriptions
    if (itemName == "real"){
      var realNames = ["local","fair","ecological","humane","disqualifier"];
      var saveReal = {};
      for (real in realNames){
        itemValue = document.getElementById(realNames[real]+"-true").checked;
        // save humane n/a value
        if (realNames[real]=="humane"){
          humaneNaValue = document.getElementById(realNames[real]+"-na").checked;
          saveReal[realNames[real]+"-na"]=humaneNaValue;
        }
        itemDescription = document.getElementById(realNames[real]+"Description").value;
        saveReal[realNames[real]]=itemValue;
        saveReal[realNames[real]+"Description"]=itemDescription;
      }
      itemsToSave[itemName] = saveReal;
    // save all other fields besides real to itemsToSave
    } else{
      itemValue = document.getElementById(itemName).value;
      itemsToSave[itemName] = itemValue;
    }
  });
  // save items to localStorage
  localStorage.setItem('savedEntry', JSON.stringify(itemsToSave));
  return itemsToSave;
}

function populateSavedItems(items){
  /*
  Function to populate form with items saved through checkboxes
  */
  for (key in items){
    if (key == "real"){
      for (realKey in items["real"]){
        if (!(realKey.includes("Description"))){
          // choose between repopulating humane true, false, or n/a
          if (realKey.includes("humane") || (realKey == "humane")){
            document.getElementById("humane-na").checked = items[key]["humane-na"];
            document.getElementById("humane-true").checked = items[key]["humane"];
            if (items[key]["humane"]==false && items[key]["humane-na"]==false){
              document.getElementById("humane-false").checked = true;
            } else{
              document.getElementById("humane-false").checked = false;
            }
          // repopulate real qualification as true or false accordingly
          } else{
            document.getElementById(realKey+"-true").checked = items[key][realKey];
            document.getElementById(realKey+"-false").checked = !(items[key][realKey]);
          }
        // repopulate real description with saved description
        } else{
          document.getElementById(realKey).value = items[key][realKey];
        }
      }
    // repopulate any key/value pair in items to save that is not a real qualification
    } else{
      document.getElementById(key).value = items[key];
    }
    // maintain checkbox status as checked
    checkbox = (key+ "-check");
    document.getElementById(checkbox).checked = true;
  }
}
</script>
<script type="text/javascript" src="../static/website.js" defer></script>
</head>

<body class = "data_entry">
  <h1>Carleton RFC</h1>
  <h2>Adding Items to Current Entry Session</h2>
  <button id = "EScancel" class="button" onclick="go_to_entry_session();">Go To Entry Session</button>
  <form action = "data_entry" method = "POST" id = "data-entry-form">
    <fieldset class = "firstTwoCols">
      <div class="col1">
        <div>
        <div class = "row1">
        <label for="category">Category</label>
        <input id="category-check" name="category-keep" type="checkbox">
        </div>
        <select id="category" name="category">
          <option value="%">Choose a Category</option>
          <option value="dairy">dairy</option>
          <option value="baked">baked</option>
          <option value="beverages">beverages</option>
          <option value="eggs">eggs</option>
          <option value="grocery">grocery</option>
          <option value="meat">meat</option>
          <option value="poultry">poultry</option>
          <option value="produce">produce</option>
          <option value="fish">fish</option>
          <option value="teacoffee">tea or coffee</option>
        </select>
        </div>
      <div class="col2">
        <div class = "row1">
          <label for="vendor">Vendor</label>
          <input id="vendor-check" name="vendor-keep" type="checkbox">
        </div>
        <input id="vendor" name="vendor" type="text">
      </div>
      <div class="col2">
        <div class = "row1">
          <label for="brand">Label/Brand</label>
          <input id="brand-check" name="brand-keep" type="checkbox">
        </div>
        <input id="brand" name="brand" type="text">
      </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="col1">
        <div class = "col2">
          <div class = "row1">
            <label for="description">Description</label>
            <input id="description-check" name="description-keep" type="checkbox">
          </div>
          <input id="description" name="description" type="text" placeholder="one to two words">
        </div>
          <div class = "col2">
            <div class = "row1">
              <label for="notes">Notes</label>
              <input id="notes-check" name="notes-keep" type="checkbox">
            </div>
            <input id="notes" name="notes" type="text" placeholder="as labeled on invoice">
          </div>
          <div class = "col2">
            <div class = "row1">
              <label for="productCode">Product Code</label>
              <input id="productCode-check" name="productCode-keep" type="checkbox">
            </div>
            <input id="productCode" name="productCode" type="text">
          </div>
          <div>
            <label class = "row1" for="cost">Cost</label>
            <input id="cost" name="cost" type="number" step="any" placeholder="0.00">
          </div>
        </div>
      </fieldset>

      <fieldset id = "real-qualifications">
        <div class="col1">
          <div class="control">
            <div class = "row1">
              <div>
                <label class="radio" for="local">
                  <input id="local-true" name="local" type="radio" value="on">Local</label>
                <label class="radio" for="local">
                  <input id="local-false" name="local" type="radio" value="off" checked>Not Local</label>
                </div>
                <input id="real-check" name="real-keep" type="checkbox">
            </div>
            <select id="localDescription" name="localDescription">
              <option value="">Not Local</option>
              <option value="Independently or Cooperatively Owned within 250 mi, < $5 million">Independently or Cooperatively Owned within 250 mi, < $5 million</option>
              <option value="Independently or Cooperatively Owned within 250 mi, < $50 million"> Independently or Cooperatively Owned within 250 mi, < $50 million </option>
              <option value="Meat within 500 mi, < $50 million">Meat within 500 mi, < $50 million</option>
              <option value="Multi-ingredient Product, 50% within 250 mi">Multi-ingredient Product, 50% within 250 mi</option>
              <option value="Aggregated Product, 75% within 250 mi">Aggregated Product, 75% within 250 mi</option>
            </select>
          </div>

          <div class="control">
            <div class = "row1">
              <div>
                <label class="radio" for="fair">
                  <input id="fair-true" name="fair" type="radio" value="on">Fair</label>
                <label class="radio" for="fair">
                  <input id="fair-false" name="fair" type="radio" value="off" checked>Not Fair</label>
              </div>
            </div>
            <select id="fairDescription" name="fairDescription">
              <option value="">Not Fair</option>
              <option value="Ecocert Fair Trade Certified">Ecocert Fair Trade Certified</option>
              <option value="Equitable Food Initiative">Equitable Food Initiative</option>
              <option value="Fair Food Program by the Coalition of Immokalee Workers">Fair Food Program by the Coalition of Immokalee Workers</option>
              <option value="Fair for Life Certified by Institute for Marketecology (IMO)">Fair for Life Certified by Institute for Marketecology (IMO)</option>
              <option value="Fairtrade International Certified by Fair Labeling Organization (FLO)">Fairtrade International Certified by Fair Labeling Organization (FLO)</option>
              <option value="Fair Trade Certified by Fair Trade USA">Fair Trade Certified by Fair Trade USA</option>
              <option value="FairWild">FairWild</option>
              <option value="Fair Trade Certified Ingredient by Fair Trade USA">Fair Trade Certified Ingredient by Fair Trade USA</option>
              <option value="Food Justice Certified by Agricultural Justice Project">Food Justice Certified by Agricultural Justice Project</option>
              <option value="Hand in Hand">Hand in Hand</option>
              <option value="Milk with Dignity by Migrant Justice">Milk with Dignity by Migrant Justice</option>
              <option value="Multi-ingredient product, 50% fair ingredients">Multi-ingredient product, 50% fair ingredients</option>
            </select>
          </div>

          <div class="control">
            <div class = "row1">
              <div>
                <label class="radio" for="ecological">
                  <input id="ecological-true" name="ecological" type="radio" value="on">Ecological</label>
                <label class="radio" for="ecological">
                  <input id="ecological-false" name="ecological" type="radio" value="off" checked>Not Ecological</label>
              </div>
            </div>
            <select id="ecologicalDescription" name="ecologicalDescription">
              <option value="">Not Ecological</option>
              <option value="ANSI/LEO-4000">ANSI/LEO-4000</option>
              <option value="Biodynamic Certified by Demeter">Biodynamic Certified by Demeter</option>
              <option value="Bird Friendly by Smithsonian">Bird Friendly by Smithsonian</option>
              <option value="Campus farm or garden">Campus farm or garden</option>
              <option value="Certified Sustainably Grown">Certified Sustainably Grown</option>
              <option value="FairWild">FairWild</option>
              <option value="Fair Trade USA Certified">Fair Trade USA Certified</option>
              <option value="Food Alliance Certified">Food Alliance Certified</option>
              <option value="LEAF (Linking Environment and Farming)">LEAF (Linking Environment and Farming)</option>
              <option value="Marine Stewardship Council (MSC)">Marine Stewardship Council (MSC)</option>
              <option value="Monterey Bay Aquarium Seafood Watch Guide “Best Choices"">Monterey Bay Aquarium Seafood Watch Guide “Best Choices"</option>
              <option value="Multi-ingredient product, 50% ecologically sound ingredients">Multi-ingredient product, 50% ecologically sound ingredients</option>
              <option value="Protected Harvest Certified">Protected Harvest Certified</option>
              <option value="Salmon Safe">Salmon Safe</option>
              <option value="Rainforest Alliance Certified">Rainforest Alliance Certified</option>
              <option value="USDA Organic">USDA Organic</option>
              <option value="USDA Transitional Organic">USDA Transitional Organic</option>
            </select>
          </div>

          <div class="control">
            <div class = "row1">
              <div>
                <label class="radio" for="humane">
                  <input id="humane-true" name="humane" type="radio" value="on">Humane</label>
                <label class="radio" for="humane">
                  <input id="humane-false" name="humane" type="radio" value="off">Not Humane</label>
                <label class="radio" for="humane">
                <input id="humane-na" name="humane" type="radio" value="none" checked>Not Applicable</label>
              </div>
            </div>
            <select id="humaneDescription" name="humaneDescription">
              <option value="">Not Humane or Not an Animal Product</option>
              <option value="AGA Grasfed by American Grassfed Association (ruminants only)">AGA Grasfed by American Grassfed Association (ruminants only)</option>
              <option value="American Humane Certified [Cage Free and Enriched Colony] (Egg-layers only)">American Humane Certified [Cage Free and Enriched Colony] (Egg-layers only)</option>
              <option value="American Humane Certified [Free Range] (Egg-layers only)">American Humane Certified [Free Range] (Egg-layers only)</option>
              <option value="Animal Welfare Approved by Animal Welfare Institute">Animal Welfare Approved by Animal Welfare Institute</option>
              <option value="Animal Welfare Approved by Animal Welfare Institute / AWA Certified Grassfed">Animal Welfare Approved by Animal Welfare Institute / AWA Certified Grassfed</option>
              <option value="Biodynamic Certified by Demeter">Biodynamic Certified by Demeter</option>
              <option value="Certified Humane by Humane Farm Animal Care (all species except swine)">Certified Humane by Humane Farm Animal Care (all species except swine)</option>
              <option value="Certified Humane by Humane Farm Animal Care (swine only)">Certified Humane by Humane Farm Animal Care (swine only)</option>
              <option value="Food Alliance Certified">Food Alliance Certified</option>
              <option value="Global Animal Partnership Step 3">Global Animal Partnership Step 3</option>
              <option value="Global Animal Partnership steps 4-5+">Global Animal Partnership steps 4-5+</option>
              <option value="Pennsylvania Certified Organic 100% Grassfed by USDA">Pennsylvania Certified Organic 100% Grassfed by USDA</option>
            </select>
          </div>

          <div class="control">
            <div class = "row1">
              <div>
                <label class="radio" for="disqualifier">
                  <input id="disqualifier-true" name="disqualifier"type="radio" value="on" >Disqualifier</label>
                <label class="radio" for="disqualifier">
                  <input id="disqualifier-false" name="disqualifier" type="radio" value="off" checked>No Disqualifier</label>
              </div>
            </div>
            <select id="disqualifierDescription" name="disqualifierDescription">
              <option value="">No Disqualifier</option>
              <option value="Concentrated Animal Feeding Operation">Concentrated Animal Feeding Operation</option>
              <option value="Genetically Modified Organisms">Genetically Modified Organisms</option>
              <option value="Guilty of Criminal Charges of Forced Labor">Guilty of Criminal Charges of Forced Labor</option>
              <option value="Labor Violations">Labor Violations</option>
              <option value="Ultra-Processed Foods">Ultra-Processed Food</option>
            </select>
          </div>
          <input class = "searchSubmit" id = "ESsubmit" type="submit" onclick="return searchMatches();" value="Search for Similar Items"/>
        </div>
      </fieldset>
  </form>
  <button class = "searchSubmit" type="button" id="ESenter" onclick="submit()">Submit Item to Entry Session</button>
  <h3>Past Entries</h3>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>Year</th>
      <th>Month</th>
      <th>Description</th>
      <th>Category</th>
      <th>Product Code</th>
      <th>Label/ Brand</th>
      <th>Vendor</th>
      <th>Local</th>
      <th></th>
      <th>Fair</th>
      <th></th>
      <th>Ecological</th>
      <th></th>
      <th>Humane</th>
      <th></th>
      <th>Disqualifier</th>
      <th></th>
      <th>Notes</th>
    </tr>
    </thead>
    <tbody>
	{% for item in result %}
    <tr>
    <td><button onclick="populateItem('{{item.description}}','{{item.category}}','{{item.productCode}}','{{item.brand}}','{{item.vendor}}','{{item.local}}','{{item.localDescription}}','{{item.fair}}','{{item.fairDescription}}','{{item.ecological}}','{{item.ecologicalDescription}}','{{item.humane}}','{{item.humaneDescription}}','{{item.disqualifier}}','{{item.disqualifierDescription}}','{{item.notes}}')">ADD</button></td>
    <td> {{item.year}} </td>
    <td> {{item.month}} </td>
    <td onclick="populateForm('description','{{item.description}}')"> {{item.description}} </td>
    <td onclick="populateForm('category','{{item.category}}')"> {{item.category}} </td>
    <td onclick="populateForm('productCode','{{item.productCode}}')"> {{item.productCode}} </td>
    <td onclick="populateForm('brand','{{item.brand}}')"> {{item.brand}} </td>
    <td onclick="populateForm('vendor','{{item.vendor}}')"> {{item.vendor}} </td>
    <td onclick="populateForm('local','{{item.local}}')"> {{item.local}} </td>
    <td onclick="populateForm('localDescription','{{item.localDescription}}')"> {{item.localDescription}} </td>
    <td onclick="populateForm('fair','{{item.fair}}')"> {{item.fair}} </td>
    <td onclick="populateForm('fairDescription','{{item.fairDescription}}')"> {{item.fairDescription}} </td>
    <td onclick="populateForm('ecological','{{item.ecological}}')"> {{item.ecological}} </td>
    <td onclick="populateForm('ecologicalDescription','{{item.ecologicalDescription}}')"> {{item.ecologicalDescription}} </td>
    <td onclick="populateForm('humane','{{item.humane}}')"> {{item.humane}} </td>
    <td onclick="populateForm('humaneDescription','{{item.humaneDescription}}')"> {{item.humaneDescription}} </td>
    <td onclick="populateForm('disqualifier','{{item.disqualifier}}')"> {{item.disqualifier}} </td>
    <td onclick="populateForm('disqualifierDescription','{{item.disqualifierDescription}}')"> {{item.disqualifierDescription}} </td>
    <td onclick="populateForm('notes','{{item.notes}}')"> {{item.notes}} </td>
    </tr>
  {% endfor %}
    </tbody>
  </table>
</body>
</html>
