<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Entry Session</title>
   <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />-->
   <!-- <script type="text/javascript" src="{{ url_for('static', filename='example.js') }}" defer></script> -->
   <link rel="stylesheet" type="text/css" href="../static/styles.css" />
   <script type="text/javascript" src="../static/example.js" defer></script>
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
-->
</head>
<script>
var entrySessionString = localStorage.getItem('entrySession');
var entrySession = JSON.parse(localStorage.getItem('entrySession'));

window.onload = function (){
    var results = document.getElementById("sessionTable");
    var rowNum = 0;
    var totalCost = 0;
    for (item in entrySession){
         var row = results.insertRow(-1);
	 rowNum++;
	 row.setAttribute("id",'cur_row'+rowNum.toString());
         console.log(entrySession[item]);
	 var colNum = 0;
         for (value in entrySession[item]){
              var cell = row.insertCell(-1);
              cell.innerHTML = entrySession[item][value];
	      if (colNum == 6){
		//cost column, sum for total cost
		totalCost = totalCost + parseFloat(entrySession[item][value]);
	      }
	      colNum++;
              }
	 var newCell = row.insertCell(-1);
	 newCell.innerHTML = '<button class="editbtn" onclick="editButton(' + rowNum + ');">' + 'edit</button>';
         }
     document.getElementById("costDesc").innerHTML = "Total Cost = $" + totalCost.toFixed(2);
     document.getElementById("entrySessionData").value = entrySessionString;
     rowNum = 0;
     }

function clearEntries(alert){
 if (!alert){
console.log("Clearing Entries");
entrySession = [];
   localStorage.setItem('entrySession', '[]');
   location.reload();
}else{
   if (window.confirm("Are you sure you want to clear all entries?")){
   console.log("Clearing Entries");   
entrySession = [];
   localStorage.setItem('entrySession', '[]');
   location.reload();
}}
}
function makeEditable(){
	var table = document.getElementById("sessionTable");
	table.insertRow();
	table.contenteditable='true';
}
function editButton(cur_row){
   console.log(cur_row);
   var edit_cells = document.getElementById('cur_row'+cur_row).getElementsByTagName('td');
   var parent = document.getElementById('cur_row'+cur_row);
   var child = parent.getElementsByTagName('td')[17];
   for (var i=0; i<edit_cells.length; i++){
     edit_cells[i].setAttribute('contenteditable', 'true');
     edit_cells[i].style.backgroundColor = '#d5ddea';
   }

  //make delete row button
  var newChild = parent.getElementsByTagName('td')[18];
  var cell = document.createElement('td');
  cell.style.backgroundColor = '#ff5c33';
  var delBtn = document.createElement("button");
  delBtn.innerHTML = 'Delete Entry';
  delBtn.setAttribute('class', 'deletebtn');
  delBtn.setAttribute('onclick', 'deleteRow('+cur_row.toString()+');');
  cell.appendChild(delBtn);
  parent.insertBefore(cell, newChild);

  child.firstChild.innerHTML = 'save';
  child.firstChild.setAttribute('class', 'savebtn');
  child.firstChild.setAttribute('onclick', 'saveButton('+cur_row.toString()+');');
}

function checkData(colNum, dataValue){
	var catTypes = ["dairy", "baked", "beverages", "eggs", "grocery", "meat", "poultry", "produce", "fish", "tea or coffee"]; 
	console.log("dataItem = " + dataValue);
	if (colNum == 0){
		//check if category is valid
		if (!catTypes.includes(dataValue)){
			window.alert("Invalid category input");
			return false; 
		}
	}
	if (colNum == 1){
		//make sure vendor exists- isn't empty string
		if (dataValue ==''){
			window.alert("No vendor entered for entry");
			return false;
		}
	}
	if (colNum == 6){
		//check if cost is a number 
		var floatVersion = parseFloat(dataValue);
		if (isNaN(floatVersion)){
			window.alert("Invalid cost for entry");
			return false;
		}
	}
	if (colNum == 7 || colNum == 9 || colNum == 11 || colNum == 15){ 
		//for boolean values (except for humane)
		dataValue = dataValue.toString();
		console.log(dataValue + "hi" + colNum + "=colnum");
		if ((dataValue !== 'true') &&  (dataValue !== 'false')){
			window.alert("Invalid true/false value for qualification");
			return false;
		}
	}
	if (colNum == 13){
		dataValue = dataValue.toString();
		if ((dataValue !== 'true') && (dataValue !== 'false') && (dataValue !== 'N/A')){
			window.alert("Invalid input for humane status, please enter 'true', 'false', or 'N/A'")
			return false;
		}
	}
	return true;
}

function saveButton(cur_row){
	//still needs to update storage
  var edit_cells = document.getElementById('cur_row'+cur_row).getElementsByTagName('td');
  var parent = document.getElementById('cur_row'+cur_row);
  var child = parent.getElementsByTagName('td')[17];
	var totalCost = 0;  
	//update local storage with new data:
	var newString = '[';
	var table = document.getElementById("sessionTable");
	for (var i = 1; i < table.rows.length; i++){
		newString = newString + '['; 
		for (var j = 0; j < 17; j++){
			var dataItem = table.rows[i].cells[j].innerHTML;
			//var dataItem = col.value;
			if (!checkData(j, dataItem)){
				//if checkData returns false, there is an invalid input, stop function
				return;
			}	
			//if 6th column(cost), update totalCost
			if (j == 6){
				totalCost = totalCost + parseFloat(dataItem);
			}
			newString = newString + '"';
			newString = newString + dataItem;
			if (j != 16){
			    newString = newString + '",';
			}else{
			   //if the column is the final column in the entry, don't add comma
			    newString = newString + '"';
			}
		}
        	if (i != table.rows.length - 1){
			newString = newString + '],';
		} else{
			newString = newString + ']';
		}
	}
        
	newString = newString + ']';
  localStorage['entrySession'] = newString;

  for (var i=0; i<edit_cells.length; i++){
  	edit_cells[i].setAttribute('contenteditable', 'false');
  	edit_cells[i].style.backgroundColor = '#ffffff';
  }
  //update cost sum
  document.getElementById("costDesc").innerHTML = "Total Cost = $" + totalCost.toFixed(2);


  //remove deleteRow button
  var deleteCell = parent.getElementsByTagName('td')[18];
  parent.removeChild(deleteCell);

  child.firstChild.innerHTML = 'edit';
  child.firstChild.setAttribute('class', 'editbtn');
  child.firstChild.setAttribute('onclick', 'editButton('+cur_row.toString()+');');
}

function deleteRow(cur_row){
   if(confirm('Are you sure you want to delete this entry?')){
     console.log('delete this row');
     var row = document.getElementById('cur_row'+cur_row);
     row.parentNode.removeChild(row);

    //update local storage by accessing table without the deleted row:
    //update local storage with new data:
        var newString = '[';
	var totalCost = 0;
        var table = document.getElementById("sessionTable");
        for (var i = 1; i < table.rows.length; i++){
                newString = newString + '[';
                for (var j = 0; j < 17; j++){
                        var dataItem = table.rows[i].cells[j].innerHTML;
                        //var dataItem = col.value;
			if (j == 6){
				totalCost = totalCost + parseFloat(dataItem);
			}
                        newString = newString + '"';
                        newString = newString + dataItem;
                        if (j != 16){
                            newString = newString + '",';
                        }else{
                           //if the column is the final column in the entry, don't add comma
                            newString = newString + '"';
                        }
                }
		if (i != table.rows.length - 1){
            		newString = newString + '],';
        	} else{
            		newString = newString + ']';
        	}
        }	
	document.getElementById("costDesc").innerHTML = "Total Cost = $" + totalCost.toFixed(2);
        newString = newString + ']';
        localStorage['entrySession'] = newString;
   }
   else{
     console.log('do nothing');
   }
}

function submitEntries(){
    if(confirm('Are you sure you want to submit the entries?')){
        console.log("Confirmed Entries");
        //document.getElementById("entry-session-form").submit();
        $("#entry-session-form").submit();
        clearEntries(false);
    }
    else{
        return false;
    }
}

</script>

<body>
    <h1>Real Food Calculator</h1>
    <nav>
    <div id="navBar">

          <a id="home_btn" href="#">Home</a>
          <!--<a id="data_entry_btn" href="#">Data Entry</a>-->
          <a class="cur_page" id="entry_session_btn" href="#">Entry Session</a>
          <a id="view_download_btn" href="#">View/Download Data</a>
          <a id="visualization_btn" href="#">Visualization</a>
    </div>
    </nav>
<h2>Current Entries</h2>
<div class="entry>
<form action = "http://cmc307-06.mathcs.carleton.edu:2019/entry_session" method = "POST" id = "entry-session-form">
 <input id="entrySessionData" name="entrySessionData" type="hidden"/>
  <label for="month">Month</label>
<select id="month" name="month" required>
    <option value="1">January</option>
    <option value="2">February</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
</select>

<label for="year">Year</label>
<input id="year" name="year" type="number" default=2019  placeholder="2019" required>


         <label for="rating_version">Rating Version</label>

<div>
 <input id="rating_version" name="rating_version" type="number" value="2.0" placeholder="2.0">
<input type="submit" id = "ESsubmit" onclick="return submitEntries();" class="button" value="Submit All"/>
</form>
<button class="button" id = "ESenter" onclick="go_to_data_entry();">Add New Item</button>
<button class="button" id = "EScancel" onclick="clearEntries(true);">Cancel Session</button>
</div>
</div>

<table id="sessionTable">
<tr>
                        <th>Category</th>
			<th>Vendor</th>
                        <th>Label/Brand</th>
                        <th>Description</th>
                        <th>Notes</th>
                        <th>Product Code</th>
                        <th>Cost</th>
			<th>Local</th>
                        <th>Local Notes</th>
			<th>Fair</th>
                        <th>Fair Notes</th>
			<th>Ecological</th>
			<th>Ecological Description</th>
			<th>Humane</th>
                        <th>Humane Notes</th>
			<th>Disqualifier</th>
                        <th>Disqualifier Notes</th>
                        <th>Edit</th>
			 </tr>
</table>

<p id="costDesc"> </p>

</body>

</html>
