<!DOCTYPE html>
<html>
<head>
<title>Real Food Calculator</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='example.js') }}" defer></script>
</head>
<body>

<h1>Real Food Calculator</h1>
<div class="topnav">
  <nav>
      <a id="home_btn" href="#">Home</a>
      <a id="data_entry_btn" href="#">Data Entry</a>
      <a id="entry_session_btn" href="#">Entry Session</a>
      <a id="view_download_btn" href="#">View/Download Data</a>
      <a id="visualization_page_btn" href="#">Visualization</a>
  </nav>
</div>
<p>Recent Receipt Entries</p>
<table style="width:100%">
  <tr>
    <th>Column 1</th>
    <th>Column 2</th>
    <th>Column 3</th>
    <th>Column 4</th>
  </tr>
  <tr>
    <td>data 1</td>
    <td>data 2</td>
    <td>data 3</td>
    <td>data 4</td>
  </tr>
  <tr>
    <td>data 1</td>
    <td>data 2</td>
    <td>data 3</td>
    <td>data 4</td>
  </tr>
  <tr>
    <td>data 1</td>
    <td>data 2</td>
    <td>data 3</td>
    <td>data 4</td>
  </tr>
  <tr>
    <td>data 1</td>
    <td>data 2</td>
    <td>data 3</td>
    <td>data 4</td>
  </tr>
</table>

</body>
</html>
