<!DOCTYPE html>
<html lang=eng>
  <head>
    <title>Carleton RFC</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <script type="text/javascript" src="../static/website.js" defer></script>
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
  </head>
  <body class = "home">
    <h1>Carleton RFC</h1>
    <nav>
      <div id="navBar">
        <a id="home_btn" href="#">Home</a>
        <!-- <a id="data_entry_btn" href="#">Data Entry</a> -->
        <a id="entry_session_btn" href="#">Entry Session</a>
        <a id="view_download_btn" href="#">View/Download Data</a>
        <a id="visualization_btn" href="#">Visualization</a>
      </div>
    </nav>
    <div id = "missionBackground">
      <h2 id = "missionStatement"> "Real Food is a concept defined by the national organization Real Food Challenge that food should be community-based, ecologically sound, humanely raised, and/or fairly procured.
      <a id = "urlLink" target="_blank" href = "https://calculator.realfoodchallenge.org/">The Real Food Calculator</a>is a tool used to determine how much of a dining service provider’s food purchases are considered “real food.” Through analyzing this data, suggestions are made for potential shifts in purchasing towards real food.
      </h2>
      <p id = "disclaimer">
        This website is intended as a tool for Carleton students to input and analyze the data for the real food calculator. For Carleton’s official historical results, see the official RFC website."
      </p>
    </div>
  </body>
</html>
