<!DOCTYPE html>
<html>
<head>
<title>Real Food Calculator</title>
</head>
<body>

<h1>Real Food Calculator</h1>
<div class="topnav">
  <a class="active" href="#des">Data Entry Session</a>
  <a href="#dv">Data Visualization</a>
  <a href="#vdf">View/Download Files</a>
</div>
<p>Recent Receipt Entries</p>
<table style="width:100%">
  <tr>
    <th>Column 1</th>
    <th>Column 2</th> 
    <th>Column 3</th>
    <th>Column 4</th>
  </tr>
  <tr>
    <td>data 1</td>
    <td>data 2</td> 
    <td>data 3</td>
    <td>data 4</td>
  </tr>
  <tr>
    <td>data 1</td>
    <td>data 2</td> 
    <td>data 3</td>
    <td>data 4</td>
  </tr>
  <tr>
    <td>data 1</td>
    <td>data 2</td> 
    <td>data 3</td>
    <td>data 4</td>
  </tr>
  <tr>
    <td>data 1</td>
    <td>data 2</td> 
    <td>data 3</td>
    <td>data 4</td>
  </tr>
</table>

</body>
</html>