<html lang=eng>
<head>
  <title>RFC Login</title>
  <link rel="stylesheet" type="text/css" href="../static/login_draft_style.css" />
  <script type="text/javascript" src="../static/example.js" defer></script>
</head>
<body>
  <div class="loginbox">
    <img src="../static/login2.png" class="avatar">
    <h1>Login Here</h1>
    <form>
      <p>Username</p>
      <input type="text" name="" id="id_bar" placeholder="Enter Username">
      <p>Password</p>
      <input type="password" name="" id="pw_bar" placeholder="Enter Password">
      <input type="button" name="" id="login_btn" value="Login"><br>
      <br>
      <a href="#">Lost your password?</a><br>
      <a href="#">Don't have an account?</a>
    </form>
  </div>
</body>
</html>
