<html>
<head>
  <title>Real Food Calculator Login</title>
  <link rel="stylesheet" type="text/css" href="../static/login_draft_style.css" />
  <!-- runs on localhost for now but have credentials to run on cmc server -->
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="786838319337-6kid66dum38jt7fnrblo9qto0i7l55h7.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js"></script>
</head>
<body>

  <div class="login-wrapper">
    <img src="../static/login2.png" class="avatar">
    <h1>Login Here</h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script><br>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>



<!--    <form>
      <p>Username</p>
      <input type="text" name="" placeholder="Enter Username">
      <p>Password</p>
      <input type="password" name="" placeholder="Enter Password">
      <input type="submit" name="" value="Login"><br>
      <br>
      <a href="#">Lost your password?</a><br>
      <a href="#">Don't have an account?</a>
    </form> -->
  </div>
</body>
