<!DOCTYPE html>

<html lang="en">
    <head>
        <title>visualization</title>
        <meta charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
        <script src="https://codepen.io/anon/pen/aWapBE.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--         <meta content="width=device-width, initial-scale=1" name="viewport"> -->
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />-->
        <link rel="stylesheet" type="text/css" href="../static/styles.css" />
        <script type="text/javascript" src="../static/example.js" defer></script>
    </head>
<body>

    <h1>Real Food Calculator</h1>
    <div class="topnav">
      <nav>
          <a id="home_btn" href="#">Home</a>
          <!--<a id="data_entry_btn" href="#">Data Entry</a>-->
          <a id="entry_session_btn" href="#">Entry Session</a>
          <a id="view_download_btn" href="#">View/Download Data</a>
          <a id="visualization_btn" href="#">Visualization</a>
      </nav>
    </div>
    <!--
    <a>Data Entry Session</a>
    <a>Data Visualization</a>
    <a>View/Download Files</a>
    -->

<!-- /* Real food calculator visualization page using d3.js
 * Author: James Yang (part of the Real Food Calculator comps group)
 *
 * Visualization types:
 * what time period do we want to do?
 * 1) Percentage of real food in each food category:
 * Pie chart showing the percentage purchase of each food category
 * Stacked bar chart where each column stands for prominent types of food in that category, and color coded into real vs not
 * Buttons: which food category to be investigated, and how many items to show
 *
 * 2) Most impact/up for change food item:
 * A line chart showing the percentage of increase of purchase for that particular food type plus
 * a bar chart ranked by the amount of money increase in total of real food purchase
 * Buttons: how many items to shown, ranked from high to low or vice versa, as well as customizable panel to enter and control specific food types to display,
 * as well as which (one or multiple) food categories to be selected for visualization on the joint bar line chart.
 * IMPORTANT: also needs to take into account of what is the most % that Carleton wishes to increase by (so if not a complete switch?? idk)
 *
 * 3) Time series:
 * A line chart showing the increase in real/non-real/all food purchases for food items of all categories
 * Buttons: how many items to shown, ranked from high to low or vice versa, ranked by real/non-real/all,
 * and by month (1-12, all, sum) and year (2006, 2007, 2008, etc.),
 * as well as customizable panel to enter and control specific food types to display
 *
 * 4) Other graphs:
 * - graphs that serve as motivating students to engage in the initiatives
 * - comprehensive customizable graphs (limited to a certain scope) that can be fully customized (need to discuss with real food people, may not be necessary)
 *
 * Options: add/remove existing graph chunk, as well as download.
 */ -->
<h1>Quick Look @ This Year's Data</h1>

<a>Not quite the year you are looking for? Go more recent or historical.</a>

<div class="row">
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="realCatChart" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="realVendChart" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="nonCatChart" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="nonVendChart" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="realItemChart" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="realBrandChart" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="nonItemChart" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="nonBrandChart" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
</div>

<script>
Chart.defaults.global.plugins.datalabels.display = false

Chart.DatasetController.extend({
    name: "BarAlt",
    draw: function(){
        this.scale.endPoint = 200;
        Chart.types.Bar.prototype.draw.apply(this, arguments);
    }
});

divs = ["realCatChart", "nonCatChart", "realItemChart", "nonItemChart", 
        "realVendChart", "nonVendChart", "realBrandChart", "nonBrandChart"]

groups = ['category', 'description', 'vendor', 'label_brand']
type = ['real', 'nonreal']
background = ["rgba(255, 159, 64, 0.2)", "rgba(54, 162, 235, 0.2)"]
border = ["rgba(255, 159, 64)", "rgba(54, 162, 235)"]

prefix = "Top 5 "
title_parts = ['categories', 'items', 'vendors', 'labels/brands']
// quick charts
getData = $.get('http://cmc307-06.mathcs.carleton.edu:5001/visualization/quick_data')
getData.done(function(results) {
  year = results.year
for (i = 0; i < 4; i++) {
  for (j = 0; j < 2; j++) {

    key = groups[i] + ":" + type[j]
    labels = results[key].labels
    cost = results[key].cost


  data = {
      datasets: [{
          label: "Purchase in dollars",
          data: cost,
          borderWidth: 2,
          backgroundColor: background[j],
          borderColor: border[j]
      }],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: labels,
      options: {
          responsive: true
      }
  };
  title = prefix + title_parts[i] + " " + year + " in " + type[j] + " food"
  ctx = document.getElementById(divs[2*i + j]).getContext('2d');
  quickBarChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
        title: {
              display: true,
              text: title
          },
          scales: {
          xAxes: [{
            ticks: {
              autoSkip: false
            }
          }]
      }
  }});

  }
}
});
</script>



<h1>Real vs non-real percentage</h1>


<div class="row">
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="percentChart1" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="percentChart4" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="percentChart3" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="percentChart5" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 50%; height: 20%; float: left">
  
<a>Items to show:</a>
  <div class = "control" style = "display: inline-block">
<select id = "num_items_percent" name="Show:" style = "width: 100%">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
</select>
</div>

<div style = "display: inline-block; width: 50%">
<form>
    <label for="add">Add item:</label>
    <input id="add" type="text" name="text">
    <input type="submit" value="Search">
</form>
</div>


<div style = "display: block">
<a>Ranked by (in decreasing order):</a>
<select id = "rank_percent" name="Show:" style = "width: 22%">
  <option value="minus" selected>Nonreal $ minus Real $</option>
  <option value="add">Total $ purchase</option>
  <option value="real">Real $ purchase</option>
  <option value="nonreal">Nonreal $ purchase</option>
</select>
</div>


    <canvas id="percentChart2" style="display: block; height: 100px; width: 100px;"></canvas>
  </div>
</div>


<div class="onoffswitch">
    <a>Show barchart data as table:</a>
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>


<!--  <div id="container-fluid">
 <div id="canvas-holder" style="width:50%;float: left;" \
 class="col-xs-6">
<canvas id="percentChart1" style="float: left; display: block; height: 75px; width: 75px;"></canvas></div>
<canvas id="percentChart3" style="float: left; display: block; height: 75px; width: 75px;"></canvas></div>
<canvas id="percentChart4" style="float: left; display: block; height: 75px; width: 75px;"></canvas></div>
<canvas id="percentChart5" style="float: left; display: block; height: 75px; width: 75px;"></canvas></div>
<div id="canvas-holder" style="width:50%;float: right;" \
 class="col-xs-6">
<canvas id="percentChart2" style="float: right; display: block; height: 300px; width: 300px;"></canvas></div>
</div> -->

<script>
Chart.defaults.global.plugins.datalabels.display = false

let num_items = document.querySelector('#num_items_percent');
let rank = document.querySelector('#rank_percent');

// manually added items
var new_real = [];
var new_nonreal = [];
var new_label = [];



// pie chart
// load data from Flask; shows all categories
getData = $.get('http://cmc307-06.mathcs.carleton.edu:5001/visualization/pie_data')

getData.done(function(results) {
    years = results.labels
    // year 1
    yr = years[0]
    result = results[yr]
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx1 = document.getElementById("percentChart1").getContext('2d');
    myPieChart1 = new Chart(ctx1, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });


    // year 2
    yr = years[1]
    result = results[yr]
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx6 = document.getElementById("percentChart3").getContext('2d');
    myPieChart2 = new Chart(ctx6, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });


    // year 3
    yr = years[2]
    result = results[yr]
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx7 = document.getElementById("percentChart4").getContext('2d');
    myPieChart3 = new Chart(ctx7, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });


    // total
    yr = years[3]
    result = results.total
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx8 = document.getElementById("percentChart5").getContext('2d');
    myPieChart4 = new Chart(ctx8, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });
})

 barData = $.get('http://cmc307-06.mathcs.carleton.edu:5001/visualization/bar_data/produce+total')
 var myBarChart;

barData.done(function(results) {
  // bar plot
   items = results.items // food items
   real_color = Array(items.length).fill('rgba(255, 99, 132, 0.2)')
   nonreal_color = Array(items.length).fill('rgba(255, 159, 64, 0.2)')

   real_border_color = Array(items.length).fill('rgba(255,99,132,1)')
   nonreal_border_color = Array(items.length).fill('rgba(255, 159, 64, 1)')

  data = {
      datasets: [{
          label: "real",
          data: results.real,
          borderWidth: 2,
          backgroundColor: real_color,
          borderColor: real_border_color
      },
      {
          label: "non-real",
          data: results.nonreal,
          borderWidth: 2,
          backgroundColor: nonreal_color,
          borderColor: nonreal_border_color
        }
      ],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: items,
      options: {
          responsive: true
      }
  };

   ctx2 = document.getElementById("percentChart2").getContext('2d');
  myBarChart = new Chart(ctx2, {
      type: 'bar',
      data: data,
      options: {
          scales: {
              xAxes: [{
                  stacked: true
              }],
              yAxes: [{
                  stacked: true
              }]},
              title: {
              display: true,
              text: "Purchase for total produce"
          }

      }
  });
})

// update bar chart
function updateBarChart(cat, yr){
   updatedData = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/bar_data/" + cat + "+" + yr);
  updatedData.done(function(results) {
   real_color = Array(results.items.length).fill('rgba(255, 99, 132, 0.2)')
   nonreal_color = Array(results.items.length).fill('rgba(255, 159, 64, 0.2)')

   real_border_color = Array(results.items.length).fill('rgba(255,99,132,1)')
   nonreal_border_color = Array(results.items.length).fill('rgba(255, 159, 64, 1)')

  data = {
      datasets: [{
          label: "real",
          data: results.real,
          borderWidth: 2,
          backgroundColor: real_color,
          borderColor: real_border_color
      },
      {
          label: "non-real",
          data: results.nonreal,
          borderWidth: 2,
          backgroundColor: nonreal_color,
          borderColor: nonreal_border_color
        }
      ],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: results.items,
      options: {
          responsive: true
      }
  };

  myBarChart.data = data;
  myBarChart.options.title.text = yr + "purchase for " + " " + cat;

  myBarChart.update();
    })
}

document.getElementById("percentChart1").onclick = function(evt)
{
     activePoints = myPieChart1.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart1.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart1.data.datasets[0].data[clickedElementindex];

       year = years[0];

      updateBarChart(label, year);
   }
}

document.getElementById("percentChart3").onclick = function(evt)
{
     activePoints = myPieChart2.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart2.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart2.data.datasets[0].data[clickedElementindex];

       year = years[1];

      updateBarChart(label, year);
   }
}

document.getElementById("percentChart4").onclick = function(evt)
{
     activePoints = myPieChart3.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart3.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart3.data.datasets[0].data[clickedElementindex];

       year = years[2];

      updateBarChart(label, year);
   }
}

document.getElementById("percentChart5").onclick = function(evt)
{
     activePoints = myPieChart4.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart4.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart4.data.datasets[0].data[clickedElementindex];

       year = years[3];

      updateBarChart(label, year);
   }
}


</script>


<h1>Hypothetical Increase</h1>

<div class="row">
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="increaseChart1" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="increaseChart4" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="increaseChart3" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="increaseChart5" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 50%; height: 50%; float: left">
    <a>Items to show:</a>
  <div class = "control" style = "display: inline-block">
<select id = "num_items_percent" name="Show:" style = "width: 100%">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
</select>
</div>

<div style = "display: inline-block; width: 50%">
<form>
    <label for="add">Add item:</label>
    <input id="add" type="text" name="text">
    <input type="submit" value="Search">
</form>
</div>
    <canvas id="increaseChart2" style="display: block; height: 300px; width: 300px;"></canvas>
  </div>
</div>

<div class="onoffswitch">
    <a>Show mixed bar/line chart data as table:</a>
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>

<script>
Chart.defaults.global.plugins.datalabels.display = false
Chart.Legend.prototype.afterFit = function() {
    this.height = this.height + 20;
};
// pie chart
// load data from Flask; shows all categories
 getData = $.get('http://cmc307-06.mathcs.carleton.edu:5001/visualization/pie_data')

getData.done(function(results) {
    years = results.labels
    // year 1
    yr = years[0]
    result = results[yr]
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx1 = document.getElementById("increaseChart1").getContext('2d');
    myPieChart1 = new Chart(ctx1, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });


    // year 2
    yr = years[1]
    result = results[yr]
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx6 = document.getElementById("increaseChart3").getContext('2d');
    myPieChart2 = new Chart(ctx6, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });


    // year 3
    yr = years[2]
    result = results[yr]
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx7 = document.getElementById("increaseChart4").getContext('2d');
    myPieChart3 = new Chart(ctx7, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });


    // total
    yr = years[3]
    result = results.total
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx8 = document.getElementById("increaseChart5").getContext('2d');
    myPieChart4 = new Chart(ctx8, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });
})

 lineData = $.get('http://cmc307-06.mathcs.carleton.edu:5001/visualization/percent_data/produce+total')
 var mixedChart;

lineData.done(function(results) {
   ctx4 = document.getElementById("increaseChart2").getContext('2d');
   mixedChart = new Chart(ctx4, {
    type: 'bar',
    data: {
      datasets: [{
            type: "bar",
            label: 'Increase in dollar amount',
            data: results['dollars'],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            yAxisID: "bar",
            datalabels: {
            // display labels for this specific dataset
            display: true,
            anchor: 'center'
          }}, {
            label: 'Percent increase in single item',
            data: results['ind_percent'],
            yAxisID: "A",
            type: 'line',
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255,99,132,1)',
              fill: false
          }, {
            label: 'Percent increase for all purchases',
            data: results['total_percent'],
            yAxisID: "B",
            type: 'line',
          backgroundColor: 'rgba(75, 00, 1300, 0.2)',
          borderColor: 'rgba(75, 00, 1300,1)',
          fill: false
          }],
      labels: results['items']
    },
    options: {
      title: {
        display: true,
        text: "Hypothetical Increase for total produce"
      },
      scales: {
        yAxes: [{
          id: 'A',
          type: 'linear',
          position: 'left',
          ticks: {
            fontColor: 'rgba(255,99,132,1)',
            max: 100.5,
            min: -0.5,
            stepSize: 10,
            callback: function(value, index, values) {
                           if (value !== 100.5 && value != -0.5) {
                               return values[index]
                           }
                       }
          },
            scaleLabel: {
            display: true,
            labelString: 'Percent increase in single item (%)'
          }
        }, {
          id: 'B',
          type: 'linear',
          position: 'right',
          ticks: {
            fontColor: 'rgba(75, 00, 1300,1)',
            beginAtZero: true
          },
            scaleLabel: {
            display: true,
            labelString: 'Percent increase for all purchases (%)'
          }
        }, {
          id: 'bar',
          type: 'linear',
          display: false,
          ticks: {
            beginAtZero: true
          }
        }],
        plugins: {
          datalabels: {
             display: false,
             font: {weight: 'bold'},
             align: 'center',
             anchor: 'center',
             clamp: true
          }

        }
      }
    }
})});

function updateMixedChart(cat, yr){
   updatedData = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/percent_data/" + cat + "+" + yr);
  updatedData.done(function(results) {

  data = {
      datasets: [{
            type: "bar",
            label: 'Increase in dollar amount (non-real $ amount of item)',
            data: results['dollars'],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            yAxisID: "bar",
            datalabels: {
            // display labels for this specific dataset
            display: true,
            anchor: 'center'
          }}, {
            label: 'Percent increase in single item',
            data: results['ind_percent'],
            yAxisID: "A",
            type: 'line',
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255,99,132,1)',
              fill: false
          }, {
            label: 'Percent increase for all purchases',
            data: results['total_percent'],
            yAxisID: "B",
            type: 'line',
          backgroundColor: 'rgba(75, 00, 1300, 0.2)',
          borderColor: 'rgba(75, 00, 1300,1)',
          fill: false
          }],
      labels: results['items']
    };

  mixedChart.data = data;
  mixedChart.options.title.text = "Hypothetical Increase for " + yr + " " + cat;

  mixedChart.update();
    });
};

document.getElementById("increaseChart1").onclick = function(evt)
{
     activePoints = myPieChart1.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart1.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart1.data.datasets[0].data[clickedElementindex];

       year = years[0];

      updateMixedChart(label, year);
   }
}

document.getElementById("increaseChart3").onclick = function(evt)
{
     activePoints = myPieChart2.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart2.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart2.data.datasets[0].data[clickedElementindex];

       year = years[1];

      updateMixedChart(label, year);
   }
}

document.getElementById("increaseChart4").onclick = function(evt)
{
     activePoints = myPieChart3.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart3.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart3.data.datasets[0].data[clickedElementindex];

       year = years[2];

      updateMixedChart(label, year);
   }
}

document.getElementById("increaseChart5").onclick = function(evt)
{
     activePoints = myPieChart4.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart4.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart4.data.datasets[0].data[clickedElementindex];

       year = years[3];

      updateMixedChart(label, year);
   }
}

</script>

<h1>Time Series of Real vs non-real food</h1>

<div>
    <a>Items to show:</a>
  <div class = "control" style = "display: inline-block">
<select id = "num_items_percent" name="Show:" style = "width: 100%">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
</select>
</div>

<form>
    <label for="add">Add by item:</label>
    <input id="add_time" type="text" name="text" list = "items_time" onkeyup = "searchItem()" autocomplete="off">
    <datalist id="items_time"></datalist>
    <input type="submit" value="submit">
</form>
<a> OR </a>
<a> Add by category: </a>
<select id = "categories">
  <option disabled selected value> select an option </option>
</select>

</div>



<div class="row">
  <div class="column" style = "width: 60%; height: 10%;  float: left">
    <canvas id="timeSeriesChart" style="display: block; height: 554px"></canvas>
  </div>
  <div class="column" style = "width: 40%; height: 10%;  float: left">
  </div>
</div>

<div class="onoffswitch">
    <a>Show time series chart data as table:</a>
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>

<script>

//var select = document.getElementById("categoeis");
c = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/get_categories/");

c.done(function(results) {
  cats = results.cats;
  for (i = 0; i < cats.length; i++) {
    cat = cats[i]
    $("select#categories").append( $("<option>")
    .val(cat)
    .html(cat)
);
  }
});

function searchItem() {
  x = document.getElementById("add_time").value;
  searches = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/get_item/" + x);
  searches.done(function(results) {
    var dataList = $("#items_time");
      dataList.empty();
      if(results.search.length) {
        for(var i=0; i<results.search.length; i++) {
          item = results.search[i];
          var opt = $("<option></option>").attr("value", item).attr("text", item);
          dataList.append(opt);
        }
      }
  })
  //document.getElementById("demo").innerHTML = x;
  // print at the select dropdown menu
}


Chart.defaults.global.plugins.datalabels.display = false;

ctx5 = document.getElementById("timeSeriesChart").getContext('2d');
var myLineChart = new Chart(ctx5, {
    type: 'line',
    options: {scales: {yAxes:[{scaleLabel: {display: true, labelString: "Dollar purchases ($)"}, ticks: {min: 0}}]},
              legend: {
                display: true,
                fill: false,
                labels: {
                  filter: function(legendItem, data) {
                  //return legendItem.datasetIndex >= total_configs.length
                  return !total_configs.includes(data.datasets[legendItem.datasetIndex].label)
                }
              }
              },
              responsive: true,
              maintainAspectRatio: false
  }
});


function updateTimeChart(cat){
   updatedData = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/percent_data/" + cat);
  updatedData.done(function(results) {

lineChartData = {};
lineChartData.labels  = results.labels; // time frame
lineChartData.datasets = [];  //add 'datasets' array element to object

 items = results.item
 colors = palette('tol', items.length).map(function(hex) {
        return '#' + hex;
      })
 types = ['total', 'real']
 dashes = [[0, 0], [10, 5]]


 data = results.data

 //[[[304, 407, 529], [1777, 2378, 3454], [665, 798, 300, 200], [234, 567, 987], [111, 222, 333]], // total
//[[204, 40, 519], [1577, 2368, 3254], [635, 758, 20, 100], [134, 537, 947], [101, 202, 303]]] // real


total_configs = []

datasets = []
for (i = 0; i < items.length; i++) {
    for (j = 0; j < types.length; j++) {
        line = {}
        line.data = data[j][i]
        line.type = 'line'
        line.label = types[j] + " " + items[i]
        total_configs.push(line.label)
        //line.backgroundColor = colors[i]
        line.borderColor = colors[i]
        line.fill = false
        if (j > 0) {
            line.borderDash = [10, 5]
        }
        datasets.push(line)
    }
}

lineChartData.datasets = datasets

for (i = 0; i < items.length; i++) {
    line = {}
    line.data = 0 // arbitrary
    line.type = 'line'
    line.label = items[i]
    line.backgroundColor = colors[i]
    line.borderColor = colors[i]
    //line.fillColor = colors[i]
    line.fill = true
    line.showLine = false
    datasets.push(line)
}

for (i = 0; i < types.length; i++) {
    line = {}
    line.data = 0 // arbitrary
    line.type = 'line'
    line.label = types[i]
    //line.backgroundColor = colors[i]
    if (i > 0) {
        line.borderDash = [10, 5]
    }
    line.fill = false
    line.showLine = false
    datasets.push(line)
}

  myLineChart.data =lineChartData;
  myLineChart.options.maintainAspectRatio = true;

  myLineChart.update();
    });
};

</script>

<div>

<h1>Item, Vendor and Label - The Exciting Love Trio</h1>

<div>
<form>
    <label for="add">Search By item:</label>
    <input id="add" type="text" name="text">
    <input type="submit" value="Search" onclick="addItem()">
</form>
<a> OR </a>
<form>
    <label for="add">By vendor:</label>
    <input id="add" type="text" name="text">
    <input type="submit" value="Search" onclick="addVendor()">
</form>
<a> OR </a>
<form>
    <label for="add">By label/brand:</label>
    <input id="add" type="text" name="text">
    <input type="submit" value="Search" onclick="addBrand()">
</form>
</div>

</div>

<script>

function addItem() {

}

function addVendor() {

}

function addBrand() {

}
</script>
</body>


</html>
