<!DOCTYPE html>

<html lang="en">
    <head>
        <title>visualization</title>
        <meta charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
        <script src="https://codepen.io/anon/pen/aWapBE.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--         <meta content="width=device-width, initial-scale=1" name="viewport"> -->
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />-->
       <!-- <link rel="stylesheet" type="text/css" href="../static/styles.css" /> -->
        <script type="text/javascript" src="../static/example.js" defer></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
<body>

    <h1>Carleton RFC</h1>
    <div class="topnav">
      <nav>
          <a id="home_btn" href="#">Home</a>
          <!--<a id="data_entry_btn" href="#">Data Entry</a>-->
          <a id="entry_session_btn" href="#">Entry Session</a>
          <a id="view_download_btn" href="#">View/Download Data</a>
          <a id="visualization_btn" href="#">Visualization</a>
      </nav>
    </div>
    <!--
    <a>Data Entry Session</a>
    <a>Data Visualization</a>
    <a>View/Download Files</a>
    -->

<!-- /* Real food calculator visualization page using d3.js
 * Author: James Yang (part of the Real Food Calculator comps group)
 *
 * Visualization types:
 * what time period do we want to do?
 * 1) Percentage of real food in each food category:
 * Pie chart showing the percentage purchase of each food category
 * Stacked bar chart where each column stands for prominent types of food in that category, and color coded into real vs not
 * Buttons: which food category to be investigated, and how many items to show
 *
 * 2) Most impact/up for change food item:
 * A line chart showing the percentage of increase of purchase for that particular food type plus
 * a bar chart ranked by the amount of money increase in total of real food purchase
 * Buttons: how many items to shown, ranked from high to low or vice versa, as well as customizable panel to enter and control specific food types to display,
 * as well as which (one or multiple) food categories to be selected for visualization on the joint bar line chart.
 * IMPORTANT: also needs to take into account of what is the most % that Carleton wishes to increase by (so if not a complete switch?? idk)
 *
 * 3) Time series:
 * A line chart showing the increase in real/non-real/all food purchases for food items of all categories
 * Buttons: how many items to shown, ranked from high to low or vice versa, ranked by real/non-real/all,
 * and by month (1-12, all, sum) and year (2006, 2007, 2008, etc.),
 * as well as customizable panel to enter and control specific food types to display
 *
 * 4) Other graphs:
 * - graphs that serve as motivating students to engage in the initiatives
 * - comprehensive customizable graphs (limited to a certain scope) that can be fully customized (need to discuss with real food people, may not be necessary)
 *
 * Options: add/remove existing graph chunk, as well as download.
 */ -->
<h1>Quick Look @ This Year's Data</h1>

<a>Not quite the year you are looking for? Go more recent or historical.</a>

<div class="row">
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="realCatChart" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="realVendChart" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="nonCatChart" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="nonVendChart" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="realItemChart" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="realBrandChart" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="nonItemChart" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="nonBrandChart" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
</div>

<script>
Chart.defaults.global.plugins.datalabels.display = false

Chart.DatasetController.extend({
    name: "BarAlt",
    draw: function(){
        this.scale.endPoint = 200;
        Chart.types.Bar.prototype.draw.apply(this, arguments);
    }
});

divs = ["realCatChart", "nonCatChart", "realItemChart", "nonItemChart", 
        "realVendChart", "nonVendChart", "realBrandChart", "nonBrandChart"]

groups = ['category', 'description', 'vendor', 'label_brand']
type = ['real', 'nonreal']
background = ["rgba(255, 159, 64, 0.2)", "rgba(54, 162, 235, 0.2)"]
border = ["rgba(255, 159, 64)", "rgba(54, 162, 235)"]

prefix = "Top 5 "
title_parts = ['categories', 'items', 'vendors', 'labels/brands']
// quick charts
getData = $.get('http://cmc307-06.mathcs.carleton.edu:5001/visualization/quick_data')
getData.done(function(results) {
  year = results.year
for (i = 0; i < 4; i++) {
  for (j = 0; j < 2; j++) {

    key = groups[i] + ":" + type[j]
    labels = results[key].labels
    cost = results[key].cost


  data = {
      datasets: [{
          label: "Purchase in dollars",
          data: cost,
          borderWidth: 2,
          backgroundColor: background[j],
          borderColor: border[j]
      }],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: labels,
      options: {
          responsive: true
      }
  };
  title = prefix + title_parts[i] + " " + year + " in " + type[j] + " food"
  ctx = document.getElementById(divs[2*i + j]).getContext('2d');
  quickBarChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
        title: {
              display: true,
              text: title
          },
          scales: {
          xAxes: [{
            ticks: {
              autoSkip: false
            }
          }],
          yAxes: [{
                  ticks: {
                    min: 0
                  }
              }]
      }
  }});

  }
}
});
</script>



<h1>Real vs non-real percentage</h1>


<div class="row">
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="percentChart1" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="percentChart4" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="percentChart3" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="percentChart5" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 50%; height: 20%; float: left">
  
<a>Items to show:</a>
  <div class = "control" style = "display: inline-block">
<select id = "num_items_percent" name="Show:" style = "width: 100%">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
</select>
</div>

<div style = "display: inline-block; width: 50%">
<form>
    <label for="add">Add item:</label>
    <input id="add" type="text" name="text">
    <input type="submit" value="Search">
</form>
</div>


<div style = "display: block">
<a>Ranked by (in decreasing order):</a>
<select id = "rank_percent" name="Show:" style = "width: 22%">
  <option value="minus" selected>Nonreal $ minus Real $</option>
  <option value="add">Total $ purchase</option>
  <option value="real">Real $ purchase</option>
  <option value="nonreal">Nonreal $ purchase</option>
</select>
</div>


    <canvas id="percentChart2" style="display: block; height: 100px; width: 100px;"></canvas>
  </div>
</div>


<div class="onoffswitch">
    <a>Show barchart data as table:</a>
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>


<!--  <div id="container-fluid">
 <div id="canvas-holder" style="width:50%;float: left;" \
 class="col-xs-6">
<canvas id="percentChart1" style="float: left; display: block; height: 75px; width: 75px;"></canvas></div>
<canvas id="percentChart3" style="float: left; display: block; height: 75px; width: 75px;"></canvas></div>
<canvas id="percentChart4" style="float: left; display: block; height: 75px; width: 75px;"></canvas></div>
<canvas id="percentChart5" style="float: left; display: block; height: 75px; width: 75px;"></canvas></div>
<div id="canvas-holder" style="width:50%;float: right;" \
 class="col-xs-6">
<canvas id="percentChart2" style="float: right; display: block; height: 300px; width: 300px;"></canvas></div>
</div> -->

<script>
Chart.defaults.global.plugins.datalabels.display = false

let num_items = document.querySelector('#num_items_percent');
let rank = document.querySelector('#rank_percent');

// manually added items
var new_real = [];
var new_nonreal = [];
var new_label = [];



// pie chart
// load data from Flask; shows all categories
getData = $.get('http://cmc307-06.mathcs.carleton.edu:5001/visualization/pie_data')

getData.done(function(results) {
    years = results.labels
    // year 1
    yr = years[0]
    result = results[yr]
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx1 = document.getElementById("percentChart1").getContext('2d');
    myPieChart1 = new Chart(ctx1, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });


    // year 2
    yr = years[1]
    result = results[yr]
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx6 = document.getElementById("percentChart3").getContext('2d');
    myPieChart2 = new Chart(ctx6, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });


    // year 3
    yr = years[2]
    result = results[yr]
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx7 = document.getElementById("percentChart4").getContext('2d');
    myPieChart3 = new Chart(ctx7, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });


    // total
    yr = years[3]
    result = results.total
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx8 = document.getElementById("percentChart5").getContext('2d');
    myPieChart4 = new Chart(ctx8, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });
})

 barData = $.get('http://cmc307-06.mathcs.carleton.edu:5001/visualization/bar_data/produce+total')
 var myBarChart;

barData.done(function(results) {
  // bar plot
   items = results.items // food items
   real_color = Array(items.length).fill('rgba(255, 99, 132, 0.2)')
   nonreal_color = Array(items.length).fill('rgba(255, 159, 64, 0.2)')

   real_border_color = Array(items.length).fill('rgba(255,99,132,1)')
   nonreal_border_color = Array(items.length).fill('rgba(255, 159, 64, 1)')

  data = {
      datasets: [{
          label: "real",
          data: results.real,
          borderWidth: 2,
          backgroundColor: real_color,
          borderColor: real_border_color
      },
      {
          label: "non-real",
          data: results.nonreal,
          borderWidth: 2,
          backgroundColor: nonreal_color,
          borderColor: nonreal_border_color
        }
      ],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: items,
      options: {
          responsive: true
      }
  };

   ctx2 = document.getElementById("percentChart2").getContext('2d');
  myBarChart = new Chart(ctx2, {
      type: 'bar',
      data: data,
      options: {
          scales: {
              xAxes: [{
                  stacked: true
              }],
              yAxes: [{
                  stacked: true
              }]},
              title: {
              display: true,
              text: "Purchase for total produce"
          }

      }
  });
})

// update bar chart
function updateBarChart(cat, yr){
   updatedData = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/bar_data/" + cat + "+" + yr);
  updatedData.done(function(results) {
   real_color = Array(results.items.length).fill('rgba(255, 99, 132, 0.2)')
   nonreal_color = Array(results.items.length).fill('rgba(255, 159, 64, 0.2)')

   real_border_color = Array(results.items.length).fill('rgba(255,99,132,1)')
   nonreal_border_color = Array(results.items.length).fill('rgba(255, 159, 64, 1)')

  data = {
      datasets: [{
          label: "real",
          data: results.real,
          borderWidth: 2,
          backgroundColor: real_color,
          borderColor: real_border_color
      },
      {
          label: "non-real",
          data: results.nonreal,
          borderWidth: 2,
          backgroundColor: nonreal_color,
          borderColor: nonreal_border_color
        }
      ],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: results.items,
      options: {
          responsive: true
      }
  };

  myBarChart.data = data;
  myBarChart.options.title.text = yr + " purchase of " + cat;

  myBarChart.update();
    })
}

document.getElementById("percentChart1").onclick = function(evt)
{
     activePoints = myPieChart1.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart1.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart1.data.datasets[0].data[clickedElementindex];

       year = years[0];

      updateBarChart(label, year);
   }
}

document.getElementById("percentChart3").onclick = function(evt)
{
     activePoints = myPieChart2.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart2.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart2.data.datasets[0].data[clickedElementindex];

       year = years[1];

      updateBarChart(label, year);
   }
}

document.getElementById("percentChart4").onclick = function(evt)
{
     activePoints = myPieChart3.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart3.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart3.data.datasets[0].data[clickedElementindex];

       year = years[2];

      updateBarChart(label, year);
   }
}

document.getElementById("percentChart5").onclick = function(evt)
{
     activePoints = myPieChart4.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart4.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart4.data.datasets[0].data[clickedElementindex];

       year = years[3];

      updateBarChart(label, year);
   }
}


</script>


<h1>Hypothetical Increase</h1>

<div class="row">
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="increaseChart1" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="increaseChart4" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 25%; height: 25%;  float: left">
    <canvas id="increaseChart3" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="increaseChart5" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 50%; height: 50%; float: left">
    <a>Items to show:</a>
  <div class = "control" style = "display: inline-block">
<select id = "num_items_percent" name="Show:" style = "width: 100%">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
</select>
</div>

<div style = "display: inline-block; width: 50%">
<form>
    <label for="add">Add item:</label>
    <input id="add" type="text" name="text">
    <input type="submit" value="Search">
</form>
</div>
    <canvas id="increaseChart2" style="display: block; height: 300px; width: 300px;"></canvas>
  </div>
</div>

<div class="onoffswitch">
    <a>Show mixed bar/line chart data as table:</a>
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>

<script>
Chart.defaults.global.plugins.datalabels.display = false
Chart.Legend.prototype.afterFit = function() {
    this.height = this.height + 20;
};
// pie chart
// load data from Flask; shows all categories
 getData = $.get('http://cmc307-06.mathcs.carleton.edu:5001/visualization/pie_data')

getData.done(function(results) {
    years = results.labels
    // year 1
    yr = years[0]
    result = results[yr]
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx1 = document.getElementById("increaseChart1").getContext('2d');
    myPieChart1 = new Chart(ctx1, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });


    // year 2
    yr = years[1]
    result = results[yr]
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx6 = document.getElementById("increaseChart3").getContext('2d');
    myPieChart2 = new Chart(ctx6, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });


    // year 3
    yr = years[2]
    result = results[yr]
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx7 = document.getElementById("increaseChart4").getContext('2d');
    myPieChart3 = new Chart(ctx7, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });


    // total
    yr = years[3]
    result = results.total
    data = {
        datasets: [{
            data: result.data,
            backgroundColor: palette('tol', result.data.length).map(function(hex) {
            return '#' + hex;
          })
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: result.labels,
        options: {
            responsive: true
        }
    };

     ctx8 = document.getElementById("increaseChart5").getContext('2d');
    myPieChart4 = new Chart(ctx8, {
        type: 'pie',
        data: data ,
        options: {
          title: {
              display: true,
              position: 'bottom',
              text: yr
          }
      }
    });
})

 lineData = $.get('http://cmc307-06.mathcs.carleton.edu:5001/visualization/percent_data/produce+total')
 var mixedChart;

lineData.done(function(results) {
   ctx4 = document.getElementById("increaseChart2").getContext('2d');
   mixedChart = new Chart(ctx4, {
    type: 'bar',
    data: {
      datasets: [{
            type: "bar",
            label: 'Increase in dollar amount',
            data: results['dollars'],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            yAxisID: "bar",
            datalabels: {
            // display labels for this specific dataset
            display: true,
            anchor: 'center'
          }}, {
            label: 'Percent increase in single item',
            data: results['ind_percent'],
            yAxisID: "A",
            type: 'line',
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255,99,132,1)',
              fill: false
          }, {
            label: 'Percent increase for all purchases',
            data: results['total_percent'],
            yAxisID: "B",
            type: 'line',
          backgroundColor: 'rgba(75, 00, 1300, 0.2)',
          borderColor: 'rgba(75, 00, 1300,1)',
          fill: false
          }],
      labels: results['items']
    },
    options: {
      title: {
        display: true,
        text: "Hypothetical Increase for total produce"
      },
      scales: {
        yAxes: [{
          id: 'A',
          type: 'linear',
          position: 'left',
          ticks: {
            fontColor: 'rgba(255,99,132,1)',
            max: 100.5,
            min: -0.5,
            stepSize: 10,
            callback: function(value, index, values) {
                           if (value !== 100.5 && value != -0.5) {
                               return values[index]
                           }
                       }
          },
            scaleLabel: {
            display: true,
            labelString: 'Percent increase in single item (%)'
          }
        }, {
          id: 'B',
          type: 'linear',
          position: 'right',
          ticks: {
            fontColor: 'rgba(75, 00, 1300,1)',
            beginAtZero: true
          },
            scaleLabel: {
            display: true,
            labelString: 'Percent increase for all purchases (%)'
          }
        }, {
          id: 'bar',
          type: 'linear',
          display: false,
          ticks: {
            beginAtZero: true
          }
        }],
        plugins: {
          datalabels: {
             display: false,
             font: {weight: 'bold'},
             align: 'center',
             anchor: 'center',
             clamp: true
          }

        }
      }
    }
})});

function updateMixedChart(cat, yr){
   updatedData = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/percent_data/" + cat + "+" + yr);
  updatedData.done(function(results) {

  data = {
      datasets: [{
            type: "bar",
            label: 'Increase in dollar amount (non-real $ amount of item)',
            data: results['dollars'],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            yAxisID: "bar",
            datalabels: {
            // display labels for this specific dataset
            display: true,
            anchor: 'center'
          }}, {
            label: 'Percent increase in single item',
            data: results['ind_percent'],
            yAxisID: "A",
            type: 'line',
              backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'rgba(255,99,132,1)',
              fill: false
          }, {
            label: 'Percent increase for all purchases',
            data: results['total_percent'],
            yAxisID: "B",
            type: 'line',
          backgroundColor: 'rgba(75, 00, 1300, 0.2)',
          borderColor: 'rgba(75, 00, 1300,1)',
          fill: false
          }],
      labels: results['items']
    };

  mixedChart.data = data;
  mixedChart.options.title.text = "Hypothetical Increase for " + yr + " " + cat;

  mixedChart.update();
    });
};

document.getElementById("increaseChart1").onclick = function(evt)
{
     activePoints = myPieChart1.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart1.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart1.data.datasets[0].data[clickedElementindex];

       year = years[0];

      updateMixedChart(label, year);
   }
}

document.getElementById("increaseChart3").onclick = function(evt)
{
     activePoints = myPieChart2.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart2.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart2.data.datasets[0].data[clickedElementindex];

       year = years[1];

      updateMixedChart(label, year);
   }
}

document.getElementById("increaseChart4").onclick = function(evt)
{
     activePoints = myPieChart3.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart3.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart3.data.datasets[0].data[clickedElementindex];

       year = years[2];

      updateMixedChart(label, year);
   }
}

document.getElementById("increaseChart5").onclick = function(evt)
{
     activePoints = myPieChart4.getElementsAtEvent(evt);

    if(activePoints.length > 0)
    {
      //get the internal index of slice in pie chart
       clickedElementindex = activePoints[0]["_index"];

      //get specific label by index
       label = myPieChart4.data.labels[clickedElementindex];

      //get value by index
       value = myPieChart4.data.datasets[0].data[clickedElementindex];

       year = years[3];

      updateMixedChart(label, year);
   }
}

</script>

<h1>Time Series of Real vs non-real food</h1>

<div>

<div class="quantity buttons_added">
  Showing
  <input type="button" value="-" class="minus" onclick = "minusTime()">
  <div id = "showTime" style = "display: inline">0</div>
  <input type="button" value="+" class="plus" onclick = "addTime()">
  out of <div id = "allTime" style = "display: inline">0</div>
  
</div>

<div>
    <label for="add">Add by item:</label>
    <input id="add_time" type="text" name="text" list = "items_time" onkeyup = "searchItem()" autocomplete="off">
    <datalist id="items_time"></datalist>
    <input id = "submit_item_time" type="submit" value="submit" onclick = "addItemData()">
<a> AND/OR </a>
<a> Add by category: </a>
<select id = "categoriesTime">
  <option disabled selected value> select an option </option>
</select>
<input id = "submit_cat_time" type="submit" value="submit" onclick = "addCatData()">
</div>

<div>
  Remove: 
<button class="btnic" id = "canvas_time"><i class="fa fa-close"></i> Remove all canvas</button>
<button class="btnic" id = "remove_cat_time"><i class="fa fa-close"></i> Remove selected category</button>
<div style = "display:inline" id = "buttons_time"></div>
</div>
</div>

<div class="row">
  <div class="column" style = "width: 60%; height: 25%;  float: left">
    <canvas id="timeSeriesChart" style="display: block; width: 60%; height: 800px"></canvas>
  </div>
  <div class="column" style = "width: 40%; height: 25%">
    <table id="time_table" class="display">
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>
    </div>
</div>

</div>


<script>
// takes into two lists, and removes all elements in first list from the second list
function removeElements(e, l) {
  for (i = 0; i < e.length; i++) {
    index = l.indexOf(e[i])
    l.splice(index, 1)
  }
  return l
} 
// Hash any string into an integer value
// Then we'll use the int and convert to hex.
function hashCode(str) {
    var hash = 0;
    for (var i = 0; i < str.length; i++) {
        hash = str.charCodeAt(i) + ((hash << 5) - hash);
    }
    return hash;
}

// Convert an int to hexadecimal with a max length
// of six characters.
function intToARGB(i) {
    var hex = ((i>>24)&0xFF).toString(16) +
            ((i>>16)&0xFF).toString(16) +
            ((i>>8)&0xFF).toString(16) +
            (i&0xFF).toString(16);
    // Sometimes the string returned will be too short so we 
    // add zeros to pad it out, which later get removed if
    // the length is greater than six.
    hex += '000000';
    return hex.substring(0, 6);
}

function arraysEqual(arr1, arr2) {
    if(arr1.length !== arr2.length)
        return false;
    for(var i = arr1.length; i--;) {
        if(arr1[i] !== arr2[i])
            return false;
    }

    return true;
}

var searches_time = []; // current searches at every turn

c = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/get_categories/");

c.done(function(results) {
  cats = results.cats;
  for (i = 0; i < cats.length; i++) {
    cat = cats[i]
    $("select#categoriesTime").append( $("<option>")
    .val(cat)
    .html(cat)
);
  }
});

sessionStorage.setItem("currentTimeCat", "") // current investigated category
sessionStorage.setItem("timeSearch", JSON.stringify([])); // previous searches
sessionStorage.setItem("timeCurrent", JSON.stringify([])); // current items added
sessionStorage.setItem("timeConfigs", JSON.stringify([])); // different configurations for the chart
sessionStorage.setItem("timeChartLabels", JSON.stringify([])); // labels

function searchItem() {
  x = document.getElementById("add_time").value;
  if (x.length > 1) {
  searches = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/get_item/" + x);

  old_searches = JSON.parse(sessionStorage.timeSearch);

    searches.done(function(results) {
    if (!arraysEqual(old_searches, results.search)) {
    sessionStorage.setItem("timeSearch", JSON.stringify(results.search));
      var dataList = $("#items_time");
        dataList.empty();
        if(results.search.length) {
          for(i=0; i<results.search.length; i++) {
            item = results.search[i];
            var opt = $("<option></option>").attr("value", item).attr("text", item);
            dataList.append(opt);
          }
        }
    }});
}
};

Chart.defaults.global.plugins.datalabels.display = false;

 types = ['total', 'real']
 dashes = [[0, 0], [10, 5]]

 lineChartData = {}
 lineChartData.datasets = []
// add legend for real vs non real
for (i = 0; i < types.length; i++) {
    line = {}
    line.data = 0 // arbitrary
    line.type = 'line'
    line.label = types[i]
    //line.backgroundColor = colors[i]
    if (i > 0) {
        line.borderDash = [10, 5]
    }
    line.fill = false
    line.showLine = false
    lineChartData.datasets.push(line)
}

var total_configs = JSON.parse(sessionStorage.timeConfigs)
var ctx5 = document.getElementById("timeSeriesChart").getContext('2d');
var myLineChart;
myLineChart = new Chart(ctx5, {data: lineChartData,
    type: 'line',
    options: {scales: {yAxes:[{scaleLabel: {display: true, labelString: "Dollar purchases ($)"}, ticks: {min: 0}}]},
              legend: {
                display: true,
                fill: false,
                labels: {
                  filter: function(legendItem, data) {
                  //return legendItem.datasetIndex >= total_configs.length
                  return !total_configs.includes(data.datasets[legendItem.datasetIndex].label)
                }
              }
              },
              responsive: true,
              maintainAspectRatio: false
  }
});

// add single item to the time series chart
function addItemData() {
  current_list = JSON.parse(sessionStorage.timeCurrent);
  y = document.getElementById("add_time").value;
  // check input is longer than 1 and has not appeared in current list
  if (y.length > 1 && !current_list.includes(y)) {
    searches = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/item_data/" + y + "+year");

    searches.done(function(results) {
      types = ['total', 'real']
      myLineChart.data.labels = results.yrs
      //datasets = []
      color = "#" + intToARGB(hashCode(y))

      cost = results.cost

chart_labels = JSON.parse(sessionStorage.timeChartLabels);
total_configs = JSON.parse(sessionStorage.timeConfigs)

    for (j = 0; j < types.length; j++) {
        line = {}
        line.data = cost[j]
        line.type = 'line'
        line.label = types[j] + " " + y
        total_configs.push(line.label)
        chart_labels.push(line.label)
        //line.backgroundColor = colors[i]
        line.borderColor = color
        line.fill = false
        if (j > 0) {
            line.borderDash = [10, 5]
        }
        myLineChart.data.datasets.push(line)
    }
// console.log(datasets.toString())
// add legend for each item
    line = {}
    line.data = 0 // arbitrary
    line.type = 'line'
    line.label = y
    chart_labels.push(line.label)
    line.backgroundColor = color
    line.borderColor = color
    //line.fillColor = colors[i]
    line.fill = true
    line.showLine = false
    myLineChart.data.datasets.push(line)

  myLineChart.update();

sessionStorage.setItem("timeConfigs", JSON.stringify(total_configs));
sessionStorage.setItem("timeChartLabels", JSON.stringify(chart_labels)); // labels

// add option to remove
$('#buttons_time').append('<button class="btnic" id = "time_' + y + '" onclick = "remove_item_time(&quot ' + y + '&quot)"><i class="fa fa-close"></i> ' + y + '</button>');

    })

    sessionStorage.setItem("timeCurrent", JSON.stringify(current_list.concat([y])));
  }
}

function addCatData() {
  current_list = JSON.parse(sessionStorage.timeCurrent);
  cat = $("select#categoriesTime").val();
  searches = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/get_categories_time/" + cat);
  searches.done(function(results) {
    cost = results.cost
    items = results.items
    types = ['total', 'real']
    myLineChart.data.labels = results.yrs

    total_configs = JSON.parse(sessionStorage.timeConfigs)

    colors = []

    for (i = 0; i < items.length; i++) {
      if (!current_list.includes(items[i])) {
    for (j = 0; j < types.length; j++) {
        line = {}
        line.data = cost[j][i]
        line.type = 'line'
        line.label = types[j] + " " + items[i]

        total_configs.push(line.label)

        //line.backgroundColor = colors[i]
        color = "#" + intToARGB(hashCode(items[i]))
        colors.push(color)
        line.borderColor = color
        line.fill = false
        if (j > 0) {
            line.borderDash = [10, 5]
        }
        myLineChart.data.datasets.push(line)
    }
    // legend line
    line = {}
    line.data = 0 // arbitrary
    line.type = 'line'
    line.label = items[i]
    line.backgroundColor = color
    line.borderColor = color
    //line.fillColor = colors[i]
    line.fill = true
    line.showLine = false
    myLineChart.data.datasets.push(line)

    current_list = current_list.concat([items[i]])
  }
  }


  myLineChart.update();
  sessionStorage.setItem("timeConfigs", JSON.stringify(total_configs));


  })
  sessionStorage.setItem("timeCurrent", JSON.stringify(current_list));

};

function remove_item_time(item) {
  item = item.substring(0)
  console.log(items)

  timeChartLabels = JSON.parse(sessionStorage.timeChartLabels)
  console.log(timeChartLabels)

  // remove legend data
  index = timeChartLabels.indexOf(item)
  myLineChart.data.datasets.splice(index, 1);

  // remove real data
  index = timeChartLabels.indexOf("real " + item)
  myLineChart.data.datasets.splice(index, 1);

  // remove total data in chart
  index = timeChartLabels.indexOf("total " + item)
  myLineChart.data.datasets.splice(index, 1);

  total_configs = removeElements(["real " + item, "total " + item], JSON.parse(sessionStorage.timeConfigs))

  myLineChart.update();


  sessionStorage.setItem("timeCurrent", JSON.stringify(removeElements([item], JSON.parse(sessionStorage.timeCurrent))));
  sessionStorage.setItem("timeConfigs", JSON.stringify(total_configs));
  sessionStorage.setItem("timeChartLabels", JSON.stringify(removeElements([item, "real " + item, "total " + item], timeChartLabels)));

  item_id = "button#time_" + item + ".btnic"
  console.log(item_id)
  $(item_id).remove()

}

function remove_cat_time() {

}

function clearCanvas() {

}
</script>


<h1>Item, Vendor and Label - The Exciting Love Trio</h1>

<div>

    <label for="add">Search By item:</label>
    <input id="item_liv" type="text" name="text" list = "items_list" onkeyup = "searchLivItem()" autocomplete="off">
    <datalist id="items_list"></datalist>
    <input id = "submit_item_liv" type="submit" value="submit" onclick = "addLivItem()">

<a> OR </a>

    <label for="add">By vendor:</label>
    <input id="vendor_liv" type="text" name="text" list = "vendor_list" onkeyup = "searchLivVendor()" autocomplete="off">
    <datalist id="vendor_list"></datalist>
    <input id = "submit_vendor_liv" type="submit" value="submit" onclick = "addLivVendor()">

<a> OR </a>

    <label for="add">By label/brand:</label>
    <input id="label_liv" type="text" name="text" list = "label_list" onkeyup = "searchLivLabel()" autocomplete="off">
    <datalist id="label_list"></datalist>
    <input id = "submit_label_liv" type="submit" value="submit" onclick = "addLivLabel()">

</div>

<div class="row">
  <div class="column" style = "width: 50%; height: 50%;  float: left">
    <canvas id="livChart1" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="livChart2" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
  <div class="column" style = "width: 50%; height: 50%;  float: left">
    <canvas id="livChart3" style="display: block; height: 75px; width: 75px;"></canvas>
    <canvas id="livChart4" style="display: block; height: 75px; width: 75px;"></canvas>
  </div>
</div>



<script>
// create new chart type for stacked grouped bar chart
Chart.defaults.groupableBar = Chart.helpers.clone(Chart.defaults.bar);

var helpers = Chart.helpers;
Chart.controllers.groupableBar = Chart.controllers.bar.extend({
  calculateBarX: function (index, datasetIndex) {
    // position the bars based on the stack index
    var stackIndex = this.getMeta().stackIndex;
    return Chart.controllers.bar.prototype.calculateBarX.apply(this, [index, stackIndex]);
  },

  hideOtherStacks: function (datasetIndex) {
    var meta = this.getMeta();
    var stackIndex = meta.stackIndex;

    this.hiddens = [];
    for (var i = 0; i < datasetIndex; i++) {
      var dsMeta = this.chart.getDatasetMeta(i);
      if (dsMeta.stackIndex !== stackIndex) {
        this.hiddens.push(dsMeta.hidden);
        dsMeta.hidden = true;
      }
    }
  },

  unhideOtherStacks: function (datasetIndex) {
    var meta = this.getMeta();
    var stackIndex = meta.stackIndex;

    for (var i = 0; i < datasetIndex; i++) {
      var dsMeta = this.chart.getDatasetMeta(i);
      if (dsMeta.stackIndex !== stackIndex) {
        dsMeta.hidden = this.hiddens.unshift();
      }
    }
  },

  calculateBarY: function (index, datasetIndex) {
    this.hideOtherStacks(datasetIndex);
    var barY = Chart.controllers.bar.prototype.calculateBarY.apply(this, [index, datasetIndex]);
    this.unhideOtherStacks(datasetIndex);
    return barY;
  },

  calculateBarBase: function (datasetIndex, index) {
    this.hideOtherStacks(datasetIndex);
    var barBase = Chart.controllers.bar.prototype.calculateBarBase.apply(this, [datasetIndex, index]);
    this.unhideOtherStacks(datasetIndex);
    return barBase;
  },

  getBarCount: function () {
    var stacks = [];

    // put the stack index in the dataset meta
    Chart.helpers.each(this.chart.data.datasets, function (dataset, datasetIndex) {
      var meta = this.chart.getDatasetMeta(datasetIndex);
      if (meta.bar && this.chart.isDatasetVisible(datasetIndex)) {
        var stackIndex = stacks.indexOf(dataset.stack);
        if (stackIndex === -1) {
          stackIndex = stacks.length;
          stacks.push(dataset.stack);
        }
        meta.stackIndex = stackIndex;
      }
    }, this);

    this.getMeta().stacks = stacks;
    return stacks.length;
  },
});

sessionStorage.setItem("itemsLivSearch", JSON.stringify([]));
sessionStorage.setItem("vendorSearch", JSON.stringify([]));
sessionStorage.setItem("labelSearch", JSON.stringify([]));

var ctx10 = document.getElementById("livChart1").getContext('2d');
var ctx11 = document.getElementById("livChart2").getContext('2d');
var ctx12 = document.getElementById("livChart3").getContext('2d');
var ctx13 = document.getElementById("livChart4").getContext('2d');

var ctx1x = [ctx10, ctx11, ctx12, ctx13]

var myLivChart1 = new Chart(ctx10, {type: 'bar', options: {scales: {yAxes: [{ticks: {min: 0}}]}}});
var myLivChart2 = new Chart(ctx11, {type: 'bar', options: {scales: {yAxes: [{ticks: {min: 0}}]}}});
var myLivChart3 = new Chart(ctx12, {type: 'bar', options: {scales: {yAxes: [{ticks: {min: 0}}]}}});
var myLivChart4 = new Chart(ctx13, {type: 'bar', options: {scales: {yAxes: [{ticks: {min: 0}}]}}});

var LivCharts = [myLivChart1, myLivChart2, myLivChart3, myLivChart4]

var yrs = [];

function searchLivItem() {
  x = document.getElementById("item_liv").value;
  if (x.length > 1) {
  searches = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/get_item/" + x);

  old_searches = JSON.parse(sessionStorage.itemsLivSearch);

    searches.done(function(results) {
    if (!arraysEqual(old_searches, results.search)) {
    sessionStorage.setItem("itemsLivSearch", JSON.stringify(results.search));
      var dataList = $("#items_list");
        dataList.empty();
        if(results.search.length) {
          for(i=0; i<results.search.length; i++) {
            item = results.search[i];
            var opt = $("<option></option>").attr("value", item).attr("text", item);
            dataList.append(opt);
          }
        }
    }});
}
}

function searchLivVendor() {
  x = document.getElementById("vendor_liv").value;
  if (x.length > 1) {
  searches = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/get_vendor/" + x);

  old_searches = JSON.parse(sessionStorage.vendorSearch);

    searches.done(function(results) {
    if (!arraysEqual(old_searches, results.search)) {
    sessionStorage.setItem("vendorSearch", JSON.stringify(results.search));
      var dataList = $("#vendor_list");
        dataList.empty();
        if(results.search.length) {
          for(i=0; i<results.search.length; i++) {
            item = results.search[i];
            var opt = $("<option></option>").attr("value", item).attr("text", item);
            dataList.append(opt);
          }
        }
    }});
}
}

function searchLivLabel() {
  x = document.getElementById("label_liv").value;
  if (x.length > 1) {
  searches = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/get_label/" + x);

  old_searches = JSON.parse(sessionStorage.labelSearch);

    searches.done(function(results) {
    if (!arraysEqual(old_searches, results.search)) {
    sessionStorage.setItem("labelSearch", JSON.stringify(results.search));
      var dataList = $("#label_list");
        dataList.empty();
        if(results.search.length) {
          for(i=0; i<results.search.length; i++) {
            item = results.search[i];
            var opt = $("<option></option>").attr("value", item).attr("text", item);
            dataList.append(opt);
          }
        }
    }});
}
}
var real_color = "rgba(99,132,255," 
var nonreal_color = "rgba(255,99,132,"
var year_offset = ["0.2)", "0.6)", "1.0)"]

function plotByYear(t, s, r, n, l, v, c) {
data = {}
data.labels = l
datasets = []

for (i = 0; i < year_offset.length; i++) {
  bar = {}
  bar.label = "real"
  bar.backgroundColor = real_color + year_offset[i]
  bar.borderColor = real_color + year_offset[i]
  bar.data = r[i]
  bar.stack = i+1

  bar2 = {}
  bar2.label = "nonreal"
  bar2.backgroundColor = nonreal_color + year_offset[i]
  bar2.borderColor = nonreal_color + year_offset[i]
  bar2.data = n[i]
  bar2.stack = i+1

  datasets.push(bar)
  datasets.push(bar2)

}

console.log(yrs)

data.datasets = datasets

var d = datasets
LivCharts[v] = new Chart(ctx1x[c], {
  type: 'groupableBar',
  data: data,
  options: {
    plugins: {
            datalabels: {
              anchor: 'end',
              clamp: true,
              display: function(context) {
                if (context.datasetIndex % 2) {
                non_real_data = d[context.datasetIndex - 1].data[context.dataIndex]
                // console.log(non_real_data)
                // console.log((context.datasetIndex % 2) && (context.dataset.data[context.dataIndex] > 0 || non_real_data > 0))
              }
              else {
                non_real_data = -1
            }
              return (context.datasetIndex % 2) && (context.dataset.data[context.dataIndex] > 0 || non_real_data > 0); // display labels with an odd index
                },
                formatter: function(value, context) {
                    return yrs[(context.datasetIndex-1)/2];
                }
            }
        },

    legend: {
      labels: {
        generateLabels: function(chart) {
          return Chart.defaults.global.legend.labels.generateLabels.apply(this, [chart]).filter(function(item, i){
              return i <= 1;
          });
        }
      }
    },
    scales: {
      yAxes: [{
        ticks: {
          min: 0
        },
        stacked: true,
      }],
      xAxes: [{
        ticks: {
          autoSkip: false
        }
      }]
    },
            title: {
              display: true,
              text: "Distribution of " + t + " for " + s + " by 3 most recent years"
          }
  }
})
};

function plotByAll(t, s, r, n, l, v, c) {
   data = {
      datasets: [{
          label: "real",
          data: r,
          borderWidth: 2,
          backgroundColor: real_color + year_offset[2],
          borderColor: real_color + year_offset[2]
      },
      {
          label: "non-real",
          data: n,
          borderWidth: 2,
          backgroundColor: nonreal_color + year_offset[2],
          borderColor: nonreal_color + year_offset[2]
        }
      ],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: l,
      options: {
          responsive: true
      }
  };

  LivCharts[v] = new Chart(ctx1x[c], {
      type: 'bar',
      data: data,
      options: {
          scales: {
              xAxes: [{
                  stacked: true,
                  ticks: {
                    autoSkip: false
                  }
              }],
              yAxes: [{
                  stacked: true,
                  ticks: {
                    min: 0
                  }
              }]},
              title: {
              display: true,
              text: "Distribution of " + t + " for " + s + " for all time"
          }

      }
    })
}
// below functions read in user submitted data and re-draw all the plots
function addLivItem() {
  LivCharts[0].destroy();
  LivCharts[1].destroy();
  LivCharts[2].destroy();
  LivCharts[3].destroy();

  y = document.getElementById("item_liv").value;

  searches = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/brand_vendor_data/" + y + "+item");

  searches.done(function(results) {
    label_brand = results.label_brand
    vendor = results.vendor
    yrs = results.yrs

    data_label_year = {}
    data_label_all = {}
    data_vendor_year = {}
    data_vendor_all = {}

    data_label_year.labels = label_brand
    data_label_all.labels = label_brand
    data_vendor_year.labels = vendor
    data_vendor_all.labels = vendor


    datasets1 = {}
    datasets2 = {}


    dr = results['label_brand real']
    dn = results['label_brand nonreal']

    dr = dr[0].map((col, i) => dr.map(row => row[i]));
    dn = dn[0].map((col, i) => dn.map(row => row[i]));

    l_label = results['label_brand']
    l_vendor = results['vendor']

    // replace empty string with NA
    for (i = 0; i < l_label.length; i++) {
      if (l_label[i] == "") {
        l_label[i] = "NA"
      }
    }

    for (i = 0; i < l_vendor.length; i++) {
      if (l_vendor[i] == "") {
        l_vendor[i] = "NA"
      }
    }

    plotByYear("label/brand", y, dr.slice(0, 3), dn.slice(0,3), l_label, 0, 0);
    plotByAll("label/brand", y, dr[3], dn[3], l_label, 1, 1);

    vr = results['vendor real']
    vn = results['vendor nonreal']

    vr = vr[0].map((col, i) => vr.map(row => row[i]));
    vn = vn[0].map((col, i) => vn.map(row => row[i]));

    plotByYear("vendor", y, vr.slice(0, 3), vn.slice(0,3), l_vendor, 2, 2);
    plotByAll("vendor", y, vr[3], vn[3], l_vendor, 3, 3);

  })
}

function addLivVendor() {
  LivCharts[0].destroy();
  LivCharts[1].destroy();
  LivCharts[2].destroy();
  LivCharts[3].destroy();

  y = document.getElementById("vendor_liv").value;

  searches = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/brand_vendor_data/" + y + "+vendor");

  searches.done(function(results) {
    label_brand = results.label_brand
    description = results.description
    yrs = results.yrs

    dr = results['label_brand real']
    dn = results['label_brand nonreal']

    dr = dr[0].map((col, i) => dr.map(row => row[i]));
    dn = dn[0].map((col, i) => dn.map(row => row[i]));

    l_label = results['label_brand']
    l_items = results['description']

    // replace empty string with NA
    for (i = 0; i < l_label.length; i++) {
      if (l_label[i] == "") {
        l_label[i] = "NA"
      }
    }

    for (i = 0; i < l_items.length; i++) {
      if (l_items[i] == "") {
        l_items[i] = "NA"
      }
    }

    plotByYear("label/brand", y, dr.slice(0, 3), dn.slice(0,3), l_label, 0, 0);
    plotByAll("label/brand", y, dr[3], dn[3], l_label, 1, 1);

    vr = results['description real']
    vn = results['description nonreal']

    vr = vr[0].map((col, i) => vr.map(row => row[i]));
    vn = vn[0].map((col, i) => vn.map(row => row[i]));

    plotByYear("items", y, vr.slice(0, 3), vn.slice(0,3), l_items, 2, 2);
    plotByAll("items", y, vr[3], vn[3], l_items, 3, 3);
  })
}

function addLivLabel() {
  LivCharts[0].destroy();
  LivCharts[1].destroy();
  LivCharts[2].destroy();
  LivCharts[3].destroy();

  y = document.getElementById("label_liv").value;

  searches = $.get("http://cmc307-06.mathcs.carleton.edu:5001/visualization/brand_vendor_data/" + y + "+brand");

  searches.done(function(results) {
    description = results.description
    vendor = results.vendor
    yrs = results.yrs


    dr = results['description real']
    dn = results['description nonreal']

    dr = dr[0].map((col, i) => dr.map(row => row[i]));
    dn = dn[0].map((col, i) => dn.map(row => row[i]));

    l_items = results['description']
    l_vendor = results['vendor']

    // replace empty string with NA
    for (i = 0; i < l_items.length; i++) {
      if (l_items[i] == "") {
        l_items[i] = "NA"
      }
    }

    for (i = 0; i < l_vendor.length; i++) {
      if (l_vendor[i] == "") {
        l_vendor[i] = "NA"
      }
    }

    plotByYear("items", y, dr.slice(0, 3), dn.slice(0,3), l_items, 0, 0);
    plotByAll("items", y, dr[3], dn[3], l_items, 1, 1);

    vr = results['vendor real']
    vn = results['vendor nonreal']

    vr = vr[0].map((col, i) => vr.map(row => row[i]));
    vn = vn[0].map((col, i) => vn.map(row => row[i]));

    plotByYear("vendor", y, vr.slice(0, 3), vn.slice(0,3), l_vendor, 2, 2);
    plotByAll("vendor", y, vr[3], vn[3], l_vendor, 3, 3);
  })
}
</script>
</body>


</html>
